/**
 *   These are hacks created by Than to achieve certain stylistic results. Need to be checked by Mark and Gerard
 */

/* Gallery and thumbnails */
div.shanti-gallery {
	width: 100%;
}

div.shanti-thumbnail { 
	width: 142px !important;
	height: 190px !important;
	display: inline-block;
	float: left;
	padding: 10px;
	margin: 0 10px 10px 0 !important;
	border: solid 1px #eee;
	overflow: hidden;
}

div.shanti-thumbnail:hover {
	background-color: #eee;
	border-color: #ddd;
}

/* Breadcrumbs */
ol.breadcrumb>li:first-child {
	font-weight: bold;
}

ol.breadcrumb>li:first-child::after {
	font-weight: bold;
	content: ':\00a0';
}

body.front ol.breadcrumb>li:first-child::after {
	display: none;
}

ol.breadcrumb>li:nth-child(2)::before {
	content: '\00a0';
}

ol.breadcrumb>li+li:before {
	content: "\00a0/\00a0";
}

/* Language Chooser */

div.navbar nav.navtop div.block h2 {
	display: none;
}

.navbar .lang ul.dropdown-menu {
	left: 5px;
}

div.highlight:last-child {
	border-left-color: #d0d0d0;
}

.block .content .nav a:hover, .block .content .nav a:focus {
	text-decoration: none;
	background: #fff;
	color: #444;
}

/** Search Flyout **/
	
.treeview .block-facetapi {
	overflow: hidden !important;
}

div.treeview .block-facetapi h2 {
	font-size: 1.1em;
	padding: 0px 6px;
	white-space: nowrap;
}

.treeview .facetapi-limit-link {
	display: none;
}

ul.fancytree-container {
	font-family: tahoma, arial, helvetica;
	font-size: 10pt;
	white-space: nowrap;
	padding: 3px;
	margin: 0;
	background-color: white;
	border: 1px dotted gray;
	overflow: hidden;
	height: 100%;
}

ul.fancytree-container .glyphicon {
	color: #888;
	font-family: 'Glyphicons Halflings';
	font-size: 13px;
	margin-right: 12px;
	position: relative;
	top: 3px;
}

span.facet-count:before { content: '(';  }
span.facet-count:after { content: ')';  }

button.toggle-facet-label-search {
	text-decoration: none;
	border: none;
	background: transparent;
	padding: 0px;
}

input.facet-label-search {
	display: inline;
	height: 1.5em;
	font-size: smaller;
	padding: 3px;
	margin: 0px 4px;
}

span.fancytree-node i.icon.km-cancel {
	color: red;
	font-size: smaller;
	padding-top: 4px;
	display: inline-block;
	cursor: pointer;
}

/* Admin */

#admin_footer { padding: 10px; background-color: #f6d4ba; }
#admin_footer .block h2, #admin_footer .block p, #admin_footer .block li { font-size: 90%; }


/* General */

article.main-content p { text-align: justify; } /* Justify paragraphs */
.back-to-top { z-index: 1000; } /* Back to top tab */
