/**
 *   These are hacks created by Than to achieve certain stylistic results. Need to be checked by Mark and Gerard
 */

/* Top Level Elements */
section.messages {
	clear: both;
}

.main-content .content-section {
	padding: 12px 12px 8px 24px;
}

.navbar-static-top {
	z-index: auto;
}

/* Header Top Bar */

h1.navbar-title.default img.site-logo {
	height: 35px;
}

h1.navbar-title.default .site-title, h1.navbar-title.default .site-slogan {
	display: inline-block;
	padding-top: 20px;
	top: 3px;
}

.menu-buttons .menu-icon a {
	white-space: nowrap;
	width: auto;
	padding: 14px 16px 0px;
}

.menu-buttons .menu-icon a span {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 0.88em;
}

.menu-buttons .menu-icon a i.icon.shanticon-directions, 
.menu-buttons .menu-icon a i.icon.shanticon-arrowselect {
	font-size: 17px;
	position: relative;
	top: 3px;
	padding-left: 2px;
}

/* Language Chooser */

div.navbar nav.navtop div.block h2 {
	display: none;
}

.navbar .lang ul.dropdown-menu {
	left: 5px;
}

div.highlight:last-child {
	border-left-color: #d0d0d0;
}

.block .content .nav a:hover, .block .content .nav a:focus {
	text-decoration: none;
	background: #fff;
	color: #444;
}

#block-locale-language .iradio_minimal-red {
	width: 18px;
	margin-right: 6px;
}

/* Color Strip Banner */
header.banner {
	z-index: 500; /* so Drop down menus are above main page content but banner is under admin menu*/
}

div.banner-content {
	margin-top: -1.8em;
	position: absolute;
	right: 26%;
}

div.banner-content button.btn-default {
	background: rgba(120,120,120,0.3);
	color: white;
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 0.15em;
	font-weight: normal;
	text-shadow: none;
	border: none;
	padding: 10px 20px;
}

/* Breadcrumbs */
nav.breadcrumbs-wrapper ol.breadcrumb {
	background: inherit;
	font-size: 0.88em;
	line-height: 21px;
	height: 21px;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	margin: 0px 0px 0px 12px;
	padding: 0;
	display: block;
}

ol.breadcrumb {
	background: transparent;
	border: none;
	padding: auto;
	margin: auto;
}

/* General Breadcrumb */
ol.breadcrumb li {
	display: inline-block;
	float: left;
	position: relative;
	height: 21px;
	overflow: hidden;
	line-height: 21px;
	font-size: 1em;
}

/* Font home breadcrumb */
ol.breadcrumb>li:first-child {
	font-family: "Museo Sans", sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	padding: 0;
	margin: 0 5px 0 0;
	font-weight: 600;
	font-style: normal;
}

/* Add colon after first breadcrumb which is site home */
ol.breadcrumb>li:first-child::after {
	font-weight: bold;
	content: ':\00a0';
}

/* override bootstrap default */
ol.breadcrumb>li+li:before {
	content: "";
	padding: 0px;
	margin: 0px;
}

/* Add space greater-than space after breadcrumbs */
ol.breadcrumb>li+li:after {
	content: '\00a0\003e\00a0';
}

/* Except for the last one */
ol.breadcrumb>li+li:last-child:after {
	content: '';
}

ol.breadcrumb li a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	position: relative;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	float: left;
	margin-right: 0px;
}

/** Sidebars **/
div.sidebar {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size:1.1em;
}	

div#sidebar-second {
	background-image: none;
	background-color: #ffffff;
	max-width: 310px;
}

div.region-sidebar-second div.block {
	/*border-bottom: thin #777 solid;*/
	padding: 15px 15px 5px 15px;
}

div.region-sidebar-second div.block:after {
	content: '';
	width: 83%;
	margin-left: 9%;
	height: 1px;
	background-color: #aaa;
	display: block;
	margin-top: 20px;
}

div#sidebar-second button.form-submit {
	
}

/** Search Flyout **/
section#gen-search {
	top: 50px;
}

.treeview .block-facetapi {
	overflow: hidden !important;
}

div.treeview .block-facetapi h2 {
	font-size: 1.1em;
	padding: 0px 6px;
	white-space: nowrap;
}

.treeview .facetapi-limit-link {
	display: none;
}

ul.fancytree-container {
	font-family: tahoma, arial, helvetica;
	font-size: 10pt;
	white-space: nowrap;
	padding: 3px;
	margin: 0;
	background-color: white;
	border: 1px dotted gray;
	overflow: hidden;
	height: 100%;
}

ul.fancytree-container .glyphicon {
	color: #888;
	font-family: 'Glyphicons Halflings';
	font-size: 13px;
	margin-right: 12px;
	position: relative;
	top: 3px;
}

span.facet-count:before { content: '(';  }
span.facet-count:after { content: ')';  }

button.toggle-facet-label-search {
	text-decoration: none;
	border: none;
	background: transparent;
	padding: 0px;
}

input.facet-label-search {
	display: inline;
	height: 1.5em;
	font-size: smaller;
	padding: 3px;
	margin: 0px 4px;
}

span.fancytree-node i.icon.shanticon-cancel {
	color: red;
	font-size: smaller;
	padding-top: 4px;
	display: inline-block;
	cursor: pointer;
}

/* Gallery and thumbnails */
div.shanti-gallery {
	width: 100%;
}

div.shanti-thumbnail { 
	height: 270px;
	max-width: 210px;
	display: inline-block;
	float: left;
	padding: 0px;
	margin: 16px;
	border: solid 1px #eee;
	overflow: hidden;
	background-color: #FFFFFF;
}

div.shanti-thumbnail div.shanti-thumbnail-image {
	width: 100%;
	overflow: hidden;
}

div.shanti-thumbnail div.shanti-thumbnail-image img {
	width: 100%;
	border: solid 1px #eee;
	border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
}

div.shanti-thumbnail:hover {
	background-color: #eee;
	border-color: #ddd;
}

div.shanti-thumbnail div.shanti-thumbnail-info {
	padding: 6px 10px 4px;
	font-size: small;
}

div.shanti-field-created span.shanti-field-content {
	color: #999;
}

div.shanti-thumbnail-field.shanti-field-title {
	text-align: left;
	line-height: 1.25em;
	margin-top: 6px;
}

div.shanti-thumbnail-field.shanti-field-title a {
	color: #333;
	font-size: 1.1em;
	font-weight: bold;
}

/* Thumbnail icons */
div.shanti-thumbnail-image i.thumbtype {
	position: absolute;
	top: 5px;
	right: 5px;
	/*background-color: rgba( 50, 204, 202, 0.8); #32ccca */
	width: 25px;
	height: 25px;
	border: thin solid #aaa;
	-webkit-border-radius: 3px;
	color: white;
	padding-left: 2px;
	padding-top: 3px;
}

/** Test
section.content-section > div.tab-content > article:first-child > div.region:first-child > div.block:first-child {
	font-size: 32px;
}
**/

/* Admin */

#admin_footer { padding: 10px; background-color: #f6d4ba; }
#admin_footer .block h2, #admin_footer .block p, #admin_footer .block li { font-size: 90%; }
#admin_footer div.block { display: inline-block; padding: 0px 8px; margin-right: thin solid #777; }

/* Headers */
h4 { 
	font-family: "Museo Sans",sans-serif; 
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 12px;
}

h5, .h5 {
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 0.03em;
}

/** Form Fields **/
.form-control {
	width: auto;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	background-color: #ffffff;
}

input.form-control.form-text {
	display: inline-block;
}

.form-textarea-wrapper textarea {
	/*width: auto;*/
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

select.form-control.ss-select {
	width: auto;
	margin-bottom: 8px;
}

select.form-control.ss-select[multiple] {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

button.btn-primary, button.btn-success, button.btn-info, button.btn-warning, button.btn-danger {
	padding: 0px;
	margin: 0px 3px;
}

button.btn-primary {
	background-image: none;
	background-color: #4850bd;
}

button.btn-primary:hover {
	background-color: #5b68ce; /* #5a65d1;*/
}

button.btn-primary i.shanticon {
	display: inline-block;
	font-weight: normal;
	padding: 6px 6px 6px 8px; 
}

button.btn-primary span {
	display: inline-block;
	padding: 1px 8px;
	background-color: rgba(255, 255, 255, .1);
	font-size: 90%;
}

button#edit-delete:hover {
	background-color: red;
	border: thin solid red;
}

.form-text {
	height: 28px;
	background-color: #ffffff;
}

textarea {
	border: 1px solid #ccc;
}

/** Field Groups. See shanti_sarvaka_fieldset() function */
div.field-accordion {
  min-height: 2em;
	margin: 0px 0px 6px;
  padding: 6px 0px;
	border-bottom: 1px solid #C0C0C0;
	background-color: #EEE;
}

div.field-accordion div.panel-body .form-text {
	background-color: #ffffff;
}

div.field-accordion div.panel-heading {
	min-height: 22px;
}

div.field-accordion .form-item, div.field-accordion .form-actions {
	margin-top: auto;
	margin-bottom: auto;
}

div.field-accordion h4 span.ss-fieldset-toggle {
	font-size: 90%;
	padding: 0px 4px 2px;
	border-radius: 20px;
	border: thin solid grey;
	background-color: #fff;
	box-shadow: 2px 0px 3px #aaa;
	display: inline-block;
	cursor: pointer;
	vertical-align: text-top;
	margin-right: 4px;
}

div.field-accordion h4 span.ss-fieldset-toggle.open {
	padding: 0px 5px 1px;
}

/** Tabs **/
ul.ss-full-tabs {
	margin: 18px 5px;
}

ul.ss-full-tabs li {
	width: 50%;
	background-color: white;
}

ul.ss-full-tabs li a {
	font-family: 'Museo Sans', sans-serif;
	border: none;
	text-align: center;
	font-size: larger;
	font-weight: bold;
	color: #999999;
	border-radius: 0px;
}

ul.ss-full-tabs li.active a:after, ul.ss-full-tabs li.active a:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

/*
ul.ss-full-tabs li.active a:after {
	border-color: rgba(50,204,202,0);
	border-top-color: #32ccca;
	border-width: 15px;
	margin-left: -15px;
}
*/
ul.ss-full-tabs>li>a:hover, ul.ss-full-tabs>li.active>a:hover {
	border: none;
}

ul.ss-full-tabs li.active a {
	border: none;
	color: white;
}
/** End of Tabs section **/
	
/** 
 * Carousel Styles 
 *		A Bootstrap Carousel implementation taken from http://codepen.io/redfrost/full/dbrgk 	
 **/

div.carousel div { word-break: break-all; }

div.carousel img { max-width:100%; }

div.carousel a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
}

div.carousel a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}

div.carousel a.carousel-control {
	height: 30px;
	top: 45%;
	width: 35px;
	font-size: 2em;
	line-height: 1em;
	color: white;
	font-weight: bold;
	background-image: none;
	border-radius: 4px;
}

div.carousel a.carousel-control.left {
	margin-left: -8px;
}

div.carousel a.carousel-control.right {
	margin-right: -8px;
}

/* Carousel Container */
div.carouseldiv .container-fluid {
   /* margin: 40px auto 10px;
    padding: 20px 0px;*/
    max-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/*  Carousel Header */
div.carouseldiv .header {
	margin-top: 30px;
}

div.carouseldiv .header .title {
	font-style: italic;
	font-size: larger;
}

div.carouseldiv .header .title a {
	color: inherit;
}

div.carouseldiv .header .link {
	text-transform: uppercase;
	font-size:smaller;
	
}

div.carousel {
	padding: 16px;
	background-color: #fff;
}

div.carousel div.carousel-inner {
	padding-top: 6px;
}

div.carouseldiv .caption .span4, div.carouseldiv .caption .span8 {
    padding: 0px 20px;
}

div.carouseldiv .caption .span4 {
    border-right: 1px dotted #CCCCCC;
}

div.carousel .caption h3 {
	weight: bold;
	margin: 0 0 10px;
}

div.carousel .item .title h3 a {
	color: #333333;
}

div.carousel .item .byline {
	color: #aaaaaa;
	font-style: italic;
	margin: 0 0 10px 0;
}

div.carousel  .caption p {
	font-size: 1em;
	line-height: 1.6em;
	color: #333333;
	word-break: normal;
}

/** End of Carousel Styles **/

/* General Styles */

div.inline { display: inline-block; }

article.main-content p { text-align: justify; } /* Justify paragraphs */

body a, body a:visited, body a:active { color: #5b68ce; }

body a:hover { color: #000F81; }

/* Miscellaneous Styles */

.back-to-top { z-index: 1000; } /* Back to top tab */

div.loader { height: 80%; min-height: 500px; padding-top: 16px;}

table.pagerer { clear: both; } /** To get pagerer to appear under gallery of images */
	
.input-section label.radio-inline:first-child { width: auto; } /* radio button styles */

.search-group .radio-inline > div { margin-right:4px; }

#edit-masquerade-user-field {
	width: 80%;
	display: inline;
}

html.js input.form-autocomplete {
	background-position: 100% 8px;
}