
/**
* New Collections development work begun May-2016 
*/

.bootstrap-twocol-stacked,
.bootstrap-threecol-stacked {
  /*padding-top: 1.5rem;*/
}
/* featured image descriptive text */
.panel-panel > .pane-node-body .field-type-text-with-summary{
  min-height:130px;
}



/**
* BEGIN - Collections Sidebar admin buttons and associated link lists
*/
.collections-sidebar a.btn.btn-primary,
.panel-panel.right a.btn.btn-primary {
  padding-left:3rem;
  padding-right:3rem;
  margin-left:0;
}
.collections-sidebar,
.collections-sidebar a:not(.btn.btn-primary),
.collections-sidebar ul li,
.panel-panel.right,
.panel-panel.right a:not(.btn.btn-primary),
.panel-panel.right ul li {
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
}
.collections-sidebar .view-collections a:not(.btn.btn-primary), 
.panel-panel.right .pane-content a:not(.btn.btn-primary) {
  font-weight:bold;
  font-size:90%;
  filter: alpha(opacity=90);
  opacity:0.9;
  border:none;
}
.collections-sidebar .view-collections a:not(.btn.btn-primary):hover .icon,
.collections-sidebar .view-collections a:not(.btn.btn-primary):active .icon,
.panel-panel.right .pane-content a:not(.btn.btn-primary):hover .icon,
.panel-panel.right .pane-content a:not(.btn.btn-primary):active .icon {
  color: #454fa4;
}







.shanti-collection-body{
  margin-top: -1.5rem !important;
}

.shanti-collection-body .pane-title{
  margin-bottom: 1rem !important;
}

.shanti-collection-body .field-type-text-with-summary p{
  line-height: 1.56em;
}

/* image hack for IMG wrapper img-thumnail class */
.field-type-image.img-thumbnail{ /* AV & TEXTS */
  box-shadow:none;
  display: inline-block;
  max-width: auto;
  height: auto;
  padding: 0;
  line-height: 1.42857143;
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin:0 !important;
}






/**
* BEGIN - NOT TESTED - newly brought in from av css w/comments intact - May 25, 2016
*/
/* single collection page */
/** Hiding Spaces table until it can be properly implemented */
.node-type-collection table.spaces {
  display: none;
}

.collection-content .field-label-inline .field-label-span { 
  float:left; 
}

.node-type-collection .pane-content .view-empty, 
.node-type-subcollection .pane-content .view-empty {
    clear: both;
}

/* temp needs to be h3 smaller */
.node-type-collection .panel-panel.right h2{
  font-size: 1.32em;
  text-transform: capitalize;
}
/**
* END Collections Sidebar
*/










.node-type-collection .tab-pane.main-col{
  max-width: 1200px !important;
}

.node-type-team .tab-pane.main-col > div{
  padding-top:0.5rem;
}





/* overview header .pane-title */
.node-type-collection .shanti-collection-body .pane-title{
  margin-top:15px;
  margin-bottom: 0.82rem !important;
  font-size: 1.44em;
}

.node-type-collection.tab-pane.main-col > div.region-content,
.page-collections-all .tab-pane.main-col > div.region-content{
  padding-left:15px;
  padding-right:15px;
}

.page-collections-list #block-system-main.block.block-system {
  width: 100%;
  float: none;
  margin: 0 auto;
  max-width: 90rem;
}

.page-collections .views-exposed-widget .form-submit{
  display:none;
}

/** Collections List page **/
.page-collections-all-list .view-display-id-collection_all_list td {
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 2px;
    padding-bottom: 2px;
}

.page-collections-all-list .view-display-id-collection_all_list td.views-field.views-field-created {
    white-space: nowrap;
}

.page-collections-all .shanti-filters .control-box-cell-header span, 
.page-collections-all-list .shanti-filters .control-box-cell-header span {
    margin: 0px;
}

.page-collections-all .other-view a, 
.page-all-collections-list .other-view a {
    padding-left: 8px;
}











/** TESTING - 
* temporary style for Texts app here 
*/

.shanti-text.node-type-collection .view-all-texts-control-box-cell-header .view-result-count-info,
.shanti-text.node-type-subcollection .view-all-texts-control-box-cell-header .view-result-count-info{
  margin-left: 1.5rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.93em;
}

.shanti-text.node-type-collection .view-all-texts-control-box-cell-filters,
.shanti-text.node-type-subcollection .view-all-texts-control-box-cell-filters{
  padding: 0.5rem 0 0;
  float:left;
}

.shanti-text.node-type-collection .view-all-texts-control-box-cell-filters .views-exposed-form .views-exposed-widget,
.shanti-text.node-type-subcollection .view-all-texts-control-box-cell-filters .views-exposed-form .views-exposed-widget{
  float:right;
}

.shanti-text.node-type-collection .view-all-texts-control-box-cell-pager table.pagerer,
.shanti-text.node-type-subcollection .view-all-texts-control-box-cell-pager table.pagerer{
  float:left;
  margin:0;
}

.shanti-text.node-type-collection .view-all-texts-control-box-cell-pager,
.shanti-text.node-type-subcollection .view-all-texts-control-box-cell-pager{
  float:left;
  margin:1rem 0 0 0;
}


@media screen and (min-width: 480px) and (max-width: 767px)  {

  .shanti-text.node-type-collection .view-all-texts-control-box-cell-filters,
  .shanti-text.node-type-subcollection .view-all-texts-control-box-cell-filters{
    margin-top:-3.5rem;
    float:right;
  }

  .shanti-text.node-type-collection .view-all-texts-control-box-cell-pager,
  .shanti-text.node-type-subcollection .view-all-texts-control-box-cell-pager{
      margin: 0.5rem 0 0 1rem;
  }

}


@media screen and (min-width: 480px){


}  


@media screen and (min-width: 768px) {

  .shanti-text.node-type-collection .view-all-texts-control-box-cell-pager table.pagerer,
  .shanti-text.node-type-subcollection .view-all-texts-control-box-cell-pager table.pagerer{
    width:25rem;
  }

  .shanti-text.node-type-collection .view-all-texts-control-box-cell-header.col-md-4,
  .shanti-text.node-type-subcollection .view-all-texts-control-box-cell-header.col-md-4{
    width:27%;
  }

  .shanti-text.node-type-collection .view-all-texts-control-box-cell-filters.col-md-4,
  .shanti-text.node-type-subcollection .view-all-texts-control-box-cell-filters.col-md-4{
    width:37%;
    padding:0;
  }

  .shanti-text.node-type-collection .view-all-texts-control-box-cell-pager table.pagerer,
  .shanti-text.node-type-subcollection .view-all-texts-control-box-cell-pager table.pagerer{
    width:25rem;
  }

}


@media screen and (min-width: 992px) {

  .shanti-text.node-type-collection .view-all-texts-control-box-cell-pager,
  .shanti-text.node-type-subcollection .view-all-texts-control-box-cell-pager{
    float:right;
  }
}
















/**
* BEGIN Collections Sidebar
*/

.collections-sidebar-second .sidebar-second.sidebar-offcanvas{
  min-height:600px;
  max-width: 300px;
  background:transparent;
}

@media screen and (max-width: 1170px) {

  .content-section.col-md-9 { width:100%; }

  /*.sidebar-offcanvas.sidebar-second .content-section.col-xs-12.col-md-9 { width:100% !important; }*/

  /**
  * BEGIN: custom right-sidebar breakpoint styles 
  * 1170px is a wider breakpoint in AV than in Kmaps
  */
  .row-offcanvas { position: relative; right:0; /*-webkit-transition: all .25s ease-out; -o-transition: all .25s ease-out; transition: all .25s ease-out;*/ }
  .row-offcanvas.active { position:relative; right:300px; }
  .row-offcanvas .collections-sidebar-second .sidebar-second.sidebar-offcanvas { position:absolute; right:-300px; min-width:300px; width:25%; }
  .row-offcanvas .btn.btn-default.view-offcanvas-sidebar { display:inline-block !important; position:absolute; right:-8px; top:0; border-radius:0.4rem 0 0 0.4rem; }
  .row-offcanvas.active .btn.btn-default.view-offcanvas-sidebar { position:absolute; right:-3.6rem; top:-0.5rem; }
  .row-offcanvas .btn.btn-default.view-offcanvas-sidebar .icon { position:relative; left:0.3rem; top:0; float:left; /* reverse arrow icon */ -webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);  }
  .row-offcanvas.active .btn.btn-default.view-offcanvas-sidebar .icon { position:relative; top:0.7rem; }

}
/**
* END Collections Sidebar */

