
.breadwrap ol li i{background:#32ccca;}



#admin-menu .admin-menu-search input{ width:108px; border-radius:1em;}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{ font-weight:normal; font-weight:500; font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}

div.collimage{ padding-right:1em;}

.content-section p{ /* font-size:110%; */ }


.main-content div:nth-child(2) a{ border-bottom:3px solid transparent;	-webkit-transition: border 0.2s ease 0s; transition: border 0.2s ease 0s;}
.main-content div:nth-child(2) a:hover{ border-bottom:3px solid rgba(90, 101, 209, .3000); }
.main-content div:nth-child(2) a:active{ border:none; }


.admin-menu .tab-content .content a,
.admin-menu .tab-content .content a:hover{ /*border:none !important; text-decoration:none !important;*/}

.admin-menu .tab-content ul.vertical-tabs-list li.selected a:hover strong{ text-decoration:none !important;}
.admin-menu .tab-content ul.vertical-tabs-list li.selected a:hover{ border:none !important; text-decoration:none !important;	}
.admin-menu .tab-content .vertical-tabs-panes a:hover{ text-decoration:underline;}

.admin-menu table.features td.sign{ font-size:.75em;}


.main-content .show-more{ text-transform: uppercase; font-size:.83em; display:inline;}
.main-content .show-more a{ border-bottom:3px solid transparent;	-webkit-transition: border 0.2s ease 0s; transition: border 0.2s ease 0s;
font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;	font-weight:bold; font-weight:700; }
.main-content .show-more a:hover{ border-bottom:3px solid rgba(90, 101, 209, .3000) !important; }
.main-content .show-more a:active{ border:none !important; }
.main-content .show-more:after{ 	
	font-size: 0.75em;
	line-height: 0.75em;
	font-weight:normal;
	padding-left:0.25em;
	font-family: 'Glyphicons Halflings';
	content: '\002b'; /*-- plus icon */
	position:relative;
	top:-1px;
	color: #5a65d1;
}

.loader { height: 80%; min-height: 31em; padding-top: 1em;}
.dfn, .italic{ font-style:italic !important; }
.sans-serif{ font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}
.serif{ font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; }


/* form table td.label styles addres the "Group Space" fields on ...node/add/collection*/
form table td.label { 
   display: inline-block;
	color: #333; /* override bootstrap default label color of white */
	font-size: 100%;
	padding: 12px 0px;
}

form table td.label strong:after {
	content: ':';
	padding-right: 6px;
}

form table td.label div.description {
	display: inline;
	font-weight: normal;
}

.admin-menu .form-type-password-confirm{ position:relative;}
.admin-menu .form-type-password-confirm label{ position:relative; top:1.12em;}
.admin-menu .form-item-pass-pass1 label{ position:absolute; top:2em;}
.admin-menu .form-type-password div{ display:inline-block;}
.admin-menu .password-indicator{ margin-top:1em;}
.admin-menu .password-indicator div{ position:relative; top:-0.68em;}
.admin-menu .form-type-password .error{ color:#f00;}

.admin-menu .form-type-password-confirm .password-strength-title{ position:relative; top:0.62em;}
.admin-menu .form-type-password-confirm .password-strength-text{ position:relative; top:.62em;}



input.form-control,
.form-textarea-wrapper textarea.form-textarea{
	color:#777;
	border: 1px solid #ccc;
	border-radius: 1.5em;
	background-clip: padding-box;
	font-size:1.06em;
	height:2em;
	line-height:2em;
	padding:0.25em 1em 0;
  width:100%;  
	overflow: auto;
	-webkit-box-shadow:0 2px 5px #eee inset;
	box-shadow:0 2px 5px #eee inset; 
	border-collapse: separate;
	background: #fff;
	-webkit-transition-property: all;
	-webkit-transition-duration: 400ms;
	transition-property: all;
	transition-duration: 400ms;
	background-position: 99% 0.62em !important;
	/*font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;*/
}
input.form-control:hover,
.form-textarea-wrapper textarea.form-textarea:hover{ border: 1px solid #ccc; color:#777;}
input.form-control:focus,
.form-textarea-wrapper textarea.form-textarea:focus{ border: 1px solid #9097d3; -webkit-box-shadow: 0 0 4px #949bd8;box-shadow: 0 0 4px #949bd8; border-collapse: separate; /* fix for ie9 shadow */}


.form-textarea-wrapper textarea.form-textarea {
	height:auto;
	padding:0.5em 1em 1em;
	line-height:1.5em;
	border-radius: .5em;
	background-clip: padding-box;
}

input.admin-menu-search.form-control.form-text{ font-size:0.88em !important; line-height:1.5em; height:1.75em; padding:0.75em 1em !important; position:relative; top:1px;}

.bootstrap-select.form-control:not([class*="span"]){ width:100% !important;}
.field-widget-text-textfield.form-wrapper input.form-control{ width:80% !important;}

.view-filters .bootstrap-select.form-control:not([class*="span"]) { 
	padding-right:0; width:100%;
}

.views-exposed-form input.form-control{
	width:12em;	
}


/*
html.js input.form-autocomplete{ background-position: 99% 0.62em !important;}
*/

#admin-menu .dropdown .admin-menu-toolbar-category > a{ text-shadow:none;color:#ccc;}
#admin-menu .dropdown .admin-menu-toolbar-category > a:hover { color:#fff;}

#admin-menu .dropdown .admin-menu-toolbar-category > a.active-trail{ background:#f5f5f5; color:#000; text-shadow:none;}
#admin-menu .dropdown .admin-menu-toolbar-category.admin-menu-icon > a.active-trail{ background:#777;}


.form-wrapper legend{ margin-top:1.25em; margin-bottom:0 !important; font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}
.form-wrapper { margin-bottom:1em;}




tr.region-title td{
	color:#555; padding-top:0.5em; font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

table .draggable a.tabledrag-handle {
  height: 1.5em;
  margin-top:.25em;
}
table .draggable a.tabledrag-handle:hover {
  border:none !important;
}




div.file-widget.form-managed-file{ padding-left:1.25em;}


.form-item.form-type-select{ padding:0 0.25em 0 0; }
.form-item .description{ margin-top:0.25em; margin-bottom:.75em; padding-left:1em;}
.form-item label{ margin:0 0 -0.75em 0.5em; font-weight:normal; font-weight:500; font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}

.exposed-filters .form-item label{ float:none;}
/*
.admin-menu .radio, 
.admin-menu .checkbox{ padding-left:10px; padding-right:10px; margin-top:0; margin-bottom:0;}
*/
.admin-menu th{ border-bottom:none;}
.admin-menu tr .form-item{ line-height:2.5em}

table.sticky-table,
table.sticky-header{ width:100%;}
table.sticky-header th{ padding-left:1em;}

#edit-delete:hover {
	background-color: red;
	border: thin solid red;
}

textarea {
	border: 1px solid #ccc;
}





/*--- admin styles ---*/
/*
.admin-menu .table-select-processed div.iradio_minimal-red,
.admin-menu .table-select-processed div.icheckbox_minimal-red{ 
	margin-right:0.44em;
	margin-left:1em;
	position:relative;
	top:-0.25em;
}
*/

.admin-menu .content table td{ padding:5px;}

.admin-menu .icheckbox_minimal-red, 
.admin-menu .iradio_minimal-red{ 
	margin-right: 5px;
	position:relative;
	top:-0.24em;
	left:0;
}

.admin-menu .has-tabs .titlearea>div { height:6.5em;}

.admin-menu .sticky-table a{ white-space:nowrap; font-size:90%; font-weight:bold;}






.main-content .content-section .view-content{max-width:58em;}


/*--- drupal edit tabs ---*/
.main-content header ul.tabs.primary,
.main-content header ul.tabs.secondary { display:inline; border:none; position:absolute; bottom:0.18em; z-index:2; float:left;margin:0;}
.main-content header ul.tabs.primary li,
.main-content header ul.tabs.secondary li{ height:1.75em; line-height:1.75em; position:relative;}
.main-content header ul.tabs.primary li a,
.main-content header ul.tabs.secondary li a { color:#555; background:rgba(255,255,255, 0.4000); font-size:80%; font-weight:bold; font-weight:700; border:none; height:1.75em; line-height:1.75em; padding:0.62em 1.25em; margin-right:.12em; text-transform:uppercase; font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}
.main-content header ul.tabs.primary li a:hover,
.main-content header ul.tabs.secondary li a:hover{ background:rgba(255,255,255, 0.7000); color:#555; }
.main-content header ul.tabs.primary li a:active,
.main-content header ul.tabs.secondary li a:active{ background:rgba(255,255,255, 0.9000); color:#555; }
.main-content header ul.tabs.primary li.active a,
.main-content header ul.tabs.secondary li.active a { color:#fff; background:#555; height:1.88em; position:relative; bottom:-1px; line-height:1.88em; padding:0.75em 1.25em 0.62em;}
.main-content header ul.tabs.primary li.active a:hover,
.main-content header ul.tabs.secondary li.active a:hover { color:#fff; background:#555;}
.main-content header ul.tabs.primary li.active a:after,
.main-content header ul.tabs.secondary li.active a:after{ font-size:2em; font-family:'shanticon'; content: "\e646"; color:#555; position:absolute; bottom:-0.56em; right:50%; margin-right:-0.5em;}

article.main-content header ul.tabs.primary{ right:4em; position:absolute;}
.logged-in article.main-content header ul.tabs.primary { right:1em; position:absolute;}

.logged-in article.main-content header ul.tabs.secondary { left:0;}

.main-content header ul.tabs.secondary{ position:absolute; bottom:.25em;line-height:1.5em;height:1.75em;}
.main-content header ul.secondary li{ border-right:none; padding:0; line-height:1.5em; height:1.75em;}
.main-content header ul.tabs.secondary li a{ color:#444; background:rgba(255,255,255, .7000); font-weight:normal; line-height:1.12em; height:1.75em; float:left; padding:0.38em 1em; margin-right:1px;}
.main-content header ul.tabs.secondary li a:hover{ color:#444; background:rgba(255,255,255, .4000);}
.main-content header ul.tabs.secondary li.active a{ color:#666; background:#f7f7f7;  font-weight:normal; line-height:1.25em; height:1.75em; padding:0.38em 1.25em 0.38em 2em; position:relative; bottom:0;}
.main-content header ul.tabs.secondary li.active a:before{ font-size:1.12em; color:#666; font-family:'shanticon'; content: "\e643"; position:absolute; left:0.63em; top:0.32em; margin:0;}
.main-content header ul.tabs.secondary li.active a:after{ content:"";}
.main-content header ul.tabs.secondary li.active a:hover{ color:#666; background:#f7f7f7;}

ul.primary li a{ margin-right:.25em;}


/*  .btn-success, .btn-info, .btn-warning, .btn-danger  */

.btn{ 
	font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; 
	font-weight:normal; 
	font-weight:500;
	text-transform: uppercase;
}

.btn-primary {
  border:none;
	background-image:none;
  background-color: transparent;
}
.btn-primary:hover,
.btn-primary:focus {
	background-image:none;
  background-color: transparent;
}
.btn-primary:active,
.btn-primary.active {
	background-image:none;
  background-color: rgba(255, 255, 255, .1);
  box-shadow:none;
}
.btn-primary{
	padding: 0;
	margin: 0.75em;	
	height:2.56em;
	line-height:1.75em;
	border-radius:0.18em;
	background-color: #5b68ce;
	text-transform:uppercase;
	color:#eee;
	font-size: 0.75em;
	letter-spacing:0.12em;
}
.btn-primary:hover {
	color:#fff;
	background-color: #4850bd; /* darker */
}

/*
.btn-primary:active,
.btn-primary.active {
	color:#505050;
	background-color: #fff;
	box-shadow: inset 0 0 9px rgba(50,50,50, .5 );
}
*/

.btn-primary .icon {	
	text-align:center;
	height:4em;
	width:3.5em; 
	font-size:130%;
	line-height:2.25em;
	display:inline-block;
	padding:0.5em;
	float:left;
}
.btn-primary span {
	font-size: 0.88em;
	background-color: rgba(255, 255, 255, .1);
	display:inline-block;
	width:auto;
	padding: .68em 1.5em;
	height:2.88em;
	line-height:1.88em;
	white-space:nowrap;
	text-align:center;
	letter-spacing:0.06em;
}
.views-exposed-form .views-exposed-widget .btn-primary.form-submit{ margin-top:1.5em;}

.btn-primary:active span,
.btn-primary.active span{
	background-color: rgba(255, 255, 255, .05);
}


/*--- BUTTON Large ---*/
.views-exposed-form .views-exposed-widget .btn.btn-primary.btn-lg.form-submit{ margin-top:0.25em;}
.btn.btn-primary.btn-lg{
	margin: 0.75em;	
	height:4em;
	line-height:2.32em;
}	
.btn.btn-primary.btn-lg span {	
	padding: 1em 1.5em;
	height:5em;
	line-height:3em;
}



/*

div.banner-content button.btn-default {
	background: rgba(120,120,120,0.3);
	color: white;
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 0.15em;
	font-weight: normal;
	text-shadow: none;
	border: none;
	padding: 0.63em 1.25em;
}

*/









/** Sidebars **/
div.sidebar { z-index:1;}	
#sidebar-second {
	background-color: #fff;
	max-width:24em;
	padding:0 0 0 .32em;
}
.region-sidebar-second div.block {padding: 1em 2em .32em 1.25em;}

#sidebar-second .bootstrap-select.btn-group .dropdown-menu li>a.opt{ padding-left:1.5em;}

#sidebar-second .btn.btn-primary.form-submit { margin-top:0.25em;}
#sidebar-second .btn.btn-primary { margin: 0.75em;	height:4em;line-height:2.32em;}	
#sidebar-second .btn.btn-primary span {	padding: 1em 1.5em; height:5em; line-height:3em;}

#sidebar-second .btn.btn-primary{ display:block; width:100%; margin-left:0;}
#sidebar-second .btn.btn-primary span{ width:80% !important;}
#sidebar-second .bootstrap-select.form-control .selectpicker{ width:100% !important;}




.navbar nav.navtop div.block h2 { display: none;}
.navbar .lang ul.dropdown-menu { left: -2em;} /* language menu */
.highlight:last-child { border-left-color: #d0d0d0;}

.block .content .nav a{ }
.block .content .nav a:hover, 
.block .content .nav a:focus {
	text-decoration: none;
	background: #fff;
	color: #444;
}




.breadwrap ol{ border:none;}










/** Search Flyout
.treeview .block-facetapi {
	overflow: hidden !important;
}

.treeview .block-facetapi h2 {
	font-size: 1.1em;
	padding: 0 6px;
	white-space: nowrap;
}

.treeview .facetapi-limit-link {display: none;}

ul.fancytree-container {
	font-family: tahoma, arial, helvetica;
	font-size: 10pt;
	white-space: nowrap;
	padding: 3px;
	margin: 0;
	background-color: white;
	border: 1px dotted gray;
	overflow: hidden;
	height: 100%;
}

ul.fancytree-container .glyphicon {
	color: #888;
	font-family: 'Glyphicons Halflings';
	font-size: 13px;
	margin-right: 12px;
	position: relative;
	top: 3px;
}

span.facet-count:before { content: '(';  }
span.facet-count:after { content: ')';  }

button.toggle-facet-label-search {
	text-decoration: none;
	border: none;
	background: transparent;
	padding: 0;
}

input.facet-label-search {
	display: inline;
	height: 1.5em;
	font-size: smaller;
	padding: 3px;
	margin: 0 4px;
}

span.fancytree-node i.shanticon-cancel {
	color: red;
	font-size: smaller;
	padding-top: 4px;
	display: inline-block;
	cursor: pointer;
}

 **/



#admin-menu{ 	
	-webkit-box-shadow: 0 1px 2px hsla(0, 0%, 0.0000%, 0.3250);
	box-shadow: 0 1px 2px hsla(0, 0%, 0.0000%, 0.3250);
	border-collapse:separate;
	background:#333;
	background-image:none;
}



.tabledrag-toggle-weight-wrapper{ margin-top:-1.32em;}


tr.odd .form-item, tr.even .form-item{
	margin-top:0.68em;
}

table.field-multiple-table { margin-bottom:2em;}
table.field-multiple-table tbody{ border:2px solid #ddd;}

.kaltura_status_ok{ background-image:none !important; border:none !important;}




.form-actions{ /* testing this at bottom of page for edit save buttons --*/
	margin-top:3em;
}

/** Field Groups. See shanti_sarvaka_fieldset() function */
.field-accordion {
	margin: 1em 0;
  padding: 0;
	/* border-bottom: 1px solid #C0C0C0; */
	background-color: #eee;
}



.field-accordion .panel-group .panel{ background:transparent;}

.field-accordion div.panel-body .form-text {
	background-color: #fff;
}

.field-accordion div.panel-heading {
	background:transparent;
}
.field-accordion div.panel-heading .panel-title{ position:relative; z-index:100; box-shadow:0 2px 7px rgba(0,0,0,0.1000);}
.field-accordion div.panel-heading .panel-title a{ color: #5a65d1; background:#fff; padding:.5em .5em .5em 1em; display:block; width:100%; border-bottom:1px solid #ddd;}
.field-accordion div.panel-heading .panel-title a:hover{ text-decoration:none !important;}
.field-accordion div.panel-heading .panel-title a:before{
	/* color:#5a65d1;	
	font-size: 0.62em;
	line-height:.75em;
	font-weight:normal;
	padding-right:0.62em;
	font-family: 'Glyphicons Halflings';
	content: '\002b';
	position:relative;
	top:-1px;	*/
}

.field-accordion div.panel-heading .panel-title a i{
	color:#5a65d1;	
	font-size: 0.75em;
	line-height:.75em;
	font-weight:normal;
	padding-right:0.5em;
	font-family: 'Glyphicons Halflings';
}
.field-accordion div.panel-heading .panel-title a i:before{
	position:relative;
	top:-2px;		
}



.field-accordion .form-item{ }

.field-accordion .form-item, 
.field-accordion .form-actions {
	margin-top: auto;
	margin-bottom: 1em; /*-- was auto */
	padding:0.68em .32em;
	/*border:1px dashed #ccc; border-radius:0.12em;*/
}
.field-accordion h4 span.ss-fieldset-toggle,
.field-accordion h6 span.ss-fieldset-toggle {
	font-size: 90%;
	padding: 0 4px 2px;
	border-radius: 1.25em;
	background-clip: padding-box;	 /* fix for radius-corner color bleedthrough */
	border: 1px solid grey;
	background-color: #fff;
	-webkit-box-shadow: 2px 0 3px #aaa;
	box-shadow: 2px 0 3px #aaa;
	border-collapse: separate; /* fix for ie9 shadow */
	display: inline-block;
	cursor: pointer;
	vertical-align: text-top;
	margin-right: .25em;
}
.field-accordion h4 span.ss-fieldset-toggle.open,
.field-accordion h6 span.ss-fieldset-toggle.open {
	padding: 0 5px 1px;
}


.admin-menu .panel .panel-group,
.admin-menu .panel .panel-body,
.admin-menu .panel.panel-default{ background:#f7f7f7 !important; box-shadow:0 1px 3px rgba(0,0,0, 0.1000); }

.admin-menu .panel .panel-body{ background:#f7f7f7 !important;}




/*--- show-hide toggle button ---*/
a.show-annot, 
a.hide-annot{
	font-size:1em;
	text-transform:uppercase;
	font-family:sans-serif;
	font-weight:bold;
	margin-left:-0.5em;
}
a.show-annot:before, 
a.hide-annot:before{
	color:#5a65d1;	
	font-size: 0.62em;
	line-height:.75em;
	font-weight:normal;
	padding-right:0.62em;
	font-family: 'Glyphicons Halflings';
	content: '\002b'; /*-- plus icon */
	position:relative;
	top:-1px;
}










.collectionnode .content .row { margin:0 !important;}








/** Tabs **/
ul.ss-full-tabs {
	margin: 1.12em .32em;
}

ul.ss-full-tabs li {
	width: 50%;
	background-color: white;
}

ul.ss-full-tabs li a {
	font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	border: none;
	text-align: center;
	font-size: larger;
	font-weight: 777;
	color: #999;
	border-radius: 0;
}

ul.ss-full-tabs li.active a:after, ul.ss-full-tabs li.active a:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

/*
ul.ss-full-tabs li.active a:after {
	border-color: rgba(50,204,202,0);
	border-top-color: #32ccca;
	border-width: 15px;
	margin-left: -15px;
}
*/
ul.ss-full-tabs>li>a:hover, ul.ss-full-tabs>li.active>a:hover {
	border: none;
}

ul.ss-full-tabs li.active a {
	border: none;
	color: white;
}
/** End of Tabs section **/
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

.carousel{ margin-bottom:1.25em; padding: 1.56em 2.5em; background-color: #fff; -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.175); box-shadow: 0 3px 9px rgba(0, 0, 0, 0.175); border-collapse: separate; }
.carousel .carousel-inner { padding-top: 0;}
.carousel div { /* word-break: break-all; */}
.carousel img { max-width:100%; float:right;}
.carousel a.carousel-control { /*--- right-left button ---*/
	top: 50%;
	margin-top:-0.68em;
	width:1.75em;
	font-size: 2.63em;
	height:1.44em;
	line-height:1.75em;
	color: #fff;
	background-image: none;
	text-shadow:none;
	text-align:center;
	border-radius:0;
	border:none !important;
}
.carousel a.carousel-control:hover,
.carousel a.carousel-control:focus{
	border:none !important;
	/*opacity:2;
	filter: alpha(opacity=20);*/
}

.carousel a.carousel-control.left {margin-left: -1.18em;}
.carousel a.carousel-control.right {margin-right: -1.18em;}
.carousel a.carousel-control i {font-family:"shanticon"; font-style:normal;}
.carousel a.carousel-control.left i:before {content:'\e641'; /*-- right arrow-tri icon */ position:relative; right:-0.32em; text-shadow: -3px 0 7px rgba(0,0,0, 0.10);}
.carousel a.carousel-control.right i:before {content:'\e642'; /*-- left arrow-tri icon */ position:relative; left:-0.32em; text-shadow: 3px 0 7px rgba(0,0,0, 0.10);}

.carouseldiv .header {margin-top: 0.5em;}
.carouseldiv .header p{ margin-bottom: 0.18em;}
.carouseldiv .header p .show-more{ font-size:85%; float:right; margin-right:2.5em; position:relative; top:0.25em;}
.carouseldiv .header .title {
	font-style:italic;
	font-weight:bold;
	font-size:120%;
}
.carousel .caption .title h3 {font-weight:normal;font-weight: 500;margin: 0 0 0.63em;font-size:1.63em;}
.carousel .caption .title h3 a {color: #404040;}
.carousel .caption .byline {color: #777;font-style: italic;margin: -0.5em 0 .63em 0;}
.carousel .caption .description p {}

.carousel .caption a.show-more:hover{ color:#f00 !important;}
/** End of Carousel Styles **/




















/*
.input-section label.radio-inline:first-child { width: auto; }
.search-group .radio-inline > div { margin-right:0.25em; }
*/

#edit-masquerade-user-field { width: 80%;display: inline;}

html.js input.form-autocomplete { background-position: 99% .5em;}





.view-filters .views-exposed-widget.views-widget-filter-status{

}





.views-exposed-form label{ margin-bottom:0;font-size:90%;padding-left:.44em; font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; font-weight:500;}
.views-exposed-form{ margin-bottom:0;border-bottom:1px solid #ccc;}
.views-exposed-form .views-exposed-widget{
	padding-top:0;
	padding-bottom: 0.12em;
}
.views-exposed-widget.views-widget-filter-status{
	width:6em;
	padding-top:0;
}
.views-exposed-widget.views-widget-sort-by{
	width:9.5em;
}
.views-exposed-widget.views-widget-sort-order{
	width:6em;
}
.views-exposed-widget.views-widget-per-page{
	width:8.5em;
}
.views-row{
	padding-top: 0.75em;
	padding-bottom: 1em;
	margin:0 auto;
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
	min-height:10em;
}
.views-row:after{
	clear:both;
}
.views-row:first-child{
	/* padding-top:0;
	margin-top:0.25em; 
	border-top:3px double #e0e0e0; */
}
.views-field-title{ 
	font-size:1.5em;
	margin-bottom:-0.5em;
	font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.views-field-realname{
	margin-bottom:0.25em;
	margin-top:1em;
	font-size:90%;
	color:#808080;
	font-style:italic;
}
.views-field-field-images img{ 
	float:left;
	margin:.44em .88em .18em 0;
	-webkit-box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.7);
	box-shadow:         0 0 3px 0 rgba(50, 50, 50, 0.7);
	border-collapse: separate; /* fix for ie9 shadow */
}




/*
.views-submit-button .btn-primary{
	font-size:100%;
	position:relative;
	top:-0.44em;
	height:2em;
	padding:0;
}
.views-submit-button .btn-primary span{
	padding:.75em 1.32em;
	margin:0;
	line-height:0.93em;
	height:2em;
	display:inline-block;
	background:transparent;
}
*/


/* Admin 
@media (max-width: 1040px) {
	#admin-menu .dropdown .admin-menu-account, 
	#admin-menu .dropdown .admin-menu-users, 
	#admin-menu .dropdown .admin-menu-search {
		display: none;
	}
}
*/
