/* custom theme colors */
.breadwrap ol li i{ background:#32ccca;}
ul.ss-full-tabs li{ color:#32ccca;}
.shanticon-twitter,.shanticon-facebook,.shanticon-email,.shanticon-google{ color:#32ccca;}
/* END custom theme colors */

.carousel{ margin-bottom:1.25em; padding: 1.56em 2.5em; background: #fff; -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.175); box-shadow: 0 3px 9px rgba(0, 0, 0, 0.175); border-collapse: separate;}
.carousel .carousel-inner{ padding-top: 0;}
.carousel img{ max-width:100%; float:right;}
.carousel a.carousel-control{ /*--- right-left button ---*/ top: 50%;margin-top:-0.68em;width:1.75em;font-size: 2.63em;height:1.44em;line-height:1.75em;color: #fff;background-image: none;text-shadow:none;text-align:center;border-radius:0;border:none !important;}
.carousel a.carousel-control:hover,
.carousel a.carousel-control:focus{ border:none !important;/*opacity:2; filter: alpha(opacity=20);*/}
.carousel a.carousel-control.left{ margin-left: -1.18em;}
.carousel a.carousel-control.right{ margin-right: -1.18em;}
.carousel a.carousel-control i{ font-family:"shanticon"; font-style:normal;}
.carousel a.carousel-control.left i:before{ content:'\e641'; /*-- right arrow-tri icon */ position:relative; right:-0.32em; text-shadow: -3px 0 7px rgba(0,0,0, 0.10);}
.carousel a.carousel-control.right i:before{ content:'\e642'; /*-- left arrow-tri icon */ position:relative; left:-0.32em; text-shadow: 3px 0 7px rgba(0,0,0, 0.10);}
.carouseldiv .header{ margin-top: 0.5em;}
.carouseldiv .header p{ margin-bottom: 0.18em;}
.carouseldiv .header p .show-more{ font-size:85%; float:right; margin-right:2.5em; position:relative; top:0.25em;}
.carouseldiv .header .title{ font-style:italic;font-weight:bold;font-size:120%;}
.carousel .caption .title h3{ font-weight:normal;font-weight: 500;margin: 0 0 0.63em;font-size:1.63em;}
.carousel .caption .title h3 a{ color: #404040;}
.carousel .caption .byline{ color: #777;font-style: italic;margin: -0.5em 0 .63em 0;}
.carousel .caption .description p{}
.carousel .caption a.show-more:hover{ color:#f00 !important;}
/** End of Carousel Styles **/









/*--- video view page --*/
.node-video .tab-content{ border-top:1px solid #ddd;}
.node-video > div{ border-bottom:1px solid #f7f7f7;}
.node-video ul.links.inline{ position:relative; top:10px;}
.node-video ul.links.inline a{ font-size:90%;}

div.video-row{ margin-bottom: 18px;}
/* div.row.avdate,  div.row.avduration{ margin: 6px 0px 6px -10px;color: #777;} */

.avinfo{ display:inline; float:left; margin-right:15px;}
.avinfo .trans-btn{ padding-bottom:5px;}
.avinfo .btn.btn-primary.btn-icon{ margin:5px 0;}
.avplace i.icon.shanticon-menu3{ position:relative; top:0; font-size:0.88em;}

.avdesc{ margin: 0px 12px; padding-left:20px; max-width:780px;}
.avdesc .popover .parents{ }

.avdate i,
.avduration i{ margin-right:0.25em;}
.avduration::after, .avrating::after{ border-bottom: 1px solid silver;width: 175px;margin: 4px;}

.fivestar-basic div.fivestar-widget > div,
.fivestar-basic div.fivestar-widget > div a{ font-family:'FontAwesome'; color:#ccc; text-indent:0; background-image: none !important;  border-bottom:none !important;}
.fivestar-basic div.fivestar-widget > div a{ display:inline-block; font-size:1em; letter-spacing:0.5em;}
.fivestar-basic div.fivestar-widget > div a:hover{ color:#5a65d1; border-bottom:none !important;}

.fivestar-basic div.fivestar-widget .cancel a{ color:#777; font-family:'shanticon';}
.fivestar-basic div.fivestar-widget .cancel a:before{ content: "\e610";}
.fivestar-basic div.fivestar-widget .star a:before{ content: "\f005";}
.fivestar-basic div.fivestar-widget .star.on a{ color:#555;}
 
.avinfo div h5{ margin-bottom:0.12em;}
.avshare div h5 span{ color: #5a65d1; font-size: 0.9em; font-weight: normal;}
.avshare ul{ list-style-type: none; padding-left:0; margin-top:5px;}
.avshare ul li{}
.avshare ul li a{ color:#555; font-weight:bold;border-bottom:none !important;}
.avshare ul li a:hover{ color:#5a65d1;border-bottom:none !important;}
.avshare ul li a i.icon{ color:#5a65d1; font-size: 1.5em; margin-right:3px; position:relative; top:3px;}

ul.inline li a, 
div.compact-link a,
ul.links.inline li a,
a.tabledrag-toggle-weight{ color: #5a65d1; letter-spacing:-0.12em;font-weight:bold;text-transform:capitalize; font-weight:700; font-family: "museo-sans-700", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;} /*--- targeting login link for now, see if this oerks ---*/


/*--- button on video window ---*/
a.icon-play.comp.largePlayBtn{ font-family:'shanticon'; background-color:#32ccca !important; content:"play";} 	
a.icon-play:before{ font-family:'shanticon'; content: "\e647";}



.field-name-field-tags{ padding:10px 10px 0;}
.field-name-field-tags > div{ float:left;}
.field-name-field-tags div{ display:inline-block;}
.field-name-field-tags .field-item a{ display:inline-block; float:left; padding:0.06em 0.5em;}

/* a.show-more-toggle{ font-size:0.88em; float:left; text-transform:capitalize; font-weight:bold; font-weight:700; font-family: "museo-sans-700", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;} */
a.show-more-toggle:after{ 	
	font-size: 0.75em;
	line-height: 0.75em;
	font-weight:normal;
	padding-left:0.25em;
	font-family: 'Glyphicons Halflings';
	content: '\002b'; /*-- plus icon */
	position:relative;
	top:-1px;
	color: #5a65d1;
}

.avplace .field, 
.avplace .field .field-items, 
.avplace .field .field-item{ display: inline;}

.field-name-field-pbcore-description > .field-items > .field-item{ margin-bottom: 12px;}
.field-name-field-pbcore-title.field-type-field-collection.field-label-hidden{ padding:5px;border-top:1px solid #fff;border-bottom:1px solid #ddd;}

div.form-item.form-type-select.form-item-spaces-features-transcripts-settings{ width:7em;}


h3.node-desc{ text-transform: uppercase;font-weight: bold;font-size: 1em;}
h4.node-desc-type{ text-transform: uppercase;font-size: 0.8em;}



span.popover-link{ 
	margin-left: 9px;
	margin-right: 6px;
	position:relative;
	top:2px;
}

span.popover-link span{ 
	position: relative;
	background: #5a65d1;
	border: none;
	height: 1em;
	width: 1em;
	border-radius: 1px;
	color: white;
	font-size: 0.9em;
	padding: 3px 1px 0px;
	border-radius: 2px;
}

span.popover-link span:after, span.popover-link span:before{ 
  display: inline-block;
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

span.popover-link span:after{ 
	border-color: rgba(90, 101, 209, 0);
	border-right-color: #5a65d1;
	border-width: 4px;
	margin-top: -4px;
}


/*--- END video page template ---*/












/*--- Large Tabs video view ---*/
ul.ss-full-tabs{ margin: 1.12em .32em 1.5em;}
ul.ss-full-tabs li{ 
	width: 50%;
	background: white; 
	position:relative;
	font-family:'shanticon';
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	transition: all 1s ease;
	color:#32ccca;
}
ul.ss-full-tabs li.active:before{ font-size:2em; content: "\e646"; position:absolute; left:50%; top:100%; margin:-0.56em 0 0 -0.5em !important; border: none !important;}
ul.ss-full-tabs li a{ 
	font-family: "museo-sans-700", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size:1em;
	border: none !important;
	text-align: center;
	font-weight:bold;
	font-weight: 700;
	color: #aaa;
	border-radius: 0;
}
ul.ss-full-tabs li a:hover{ border: none !important;}
ul.ss-full-tabs li.active a{ 
	color:#fff !important;
}
ul.ss-full-tabs>li>a:hover, 
ul.ss-full-tabs>li.active>a:hover{ border: none !important;}
ul.ss-full-tabs li.active a:after{ content: " ";border: none !important;margin:0 !important;position:static;}
ul.ss-full-tabs li.active a:before{ content:" "; border: none !important;margin:0 !important;position:static;}

ul.ss-full-tabs > li.active > a:after{ border:none !important; margin:0 !important;}

ul.ss-full-tabs.nav-tabs{ border:none;}
ul.ss-full-tabs.nav-tabs>ul>li>a{ margin:0;}
/** End of Tabs section **/







/* collections page thumbnail - remove responsive class */
div.collimage{ max-width: 50%;float: left;padding-right: 20px;}

/* this targets all links inside the center container content-section */
.main-content div:nth-child(2) a{  border-top:1px solid #f00; /*-- temp ---*/ border-bottom:3px solid transparent;	-webkit-transition: border 0.2s ease 0s; transition: border 0.2s ease 0s;}
.main-content div:nth-child(2) a:hover{ border-bottom:3px solid rgba(90, 101, 209, .3000);}
.main-content div:nth-child(2) a:active{ border:none;}


.main-content .show-more{ text-transform:uppercase; font-size:.83em; display:inline; letter-spacing:-1%;}
.main-content .show-more a{ border-bottom:3px solid transparent; -webkit-transition: border 0.2s ease 0s; transition: border 0.2s ease 0s; font-weight:bold; font-weight:700; font-family: "museo-sans-700", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}
.main-content .show-more a:hover{ border-bottom:3px solid rgba(90, 101, 209, .3000) !important;}
.main-content .show-more a:active{ border:none !important;}
.main-content .show-more:after{ 	
	font-size: 0.75em;
	line-height: 0.75em;
	font-weight:normal;
	padding-left:0.25em;
	font-family: 'Glyphicons Halflings';
	content: '\002b'; /*-- plus icon */
	position:relative;
	top:-1px;
	color: #5a65d1;
}







.loader{ height: 80%; min-height: 31em; padding-top: 1em;}



/* form table td.label styles address the "Group Space" fields on ...node/add/collection*/
form table td.label{ display: inline-block;color: #333; /* override bootstrap default label color of white */font-size: 100%;padding: 12px 0px;}
form table td.label strong:after{ content: ':';padding-right: 6px;}
form table td.label div.description{ display: inline;font-weight: normal;}

.form-type-password-confirm{ position:relative;}
.form-type-password-confirm label{ position:relative; top:1.12em;}
.form-item-pass-pass1 label{ position:absolute; top:2.5em;}
.form-type-password div{ display:inline-block;}
.password-indicator{ margin-top:1em;}
.password-indicator div{ position:relative; top:-0.68em;}
.form-type-password .error{ color:#f00;}

.form-type-password-confirm .password-strength-title{ position:relative; top:0.62em;}
.form-type-password-confirm .password-strength-text{ position:relative; top:0.62em;}


input.form-text,
input.form-control,
.form-textarea-wrapper textarea.form-textarea{ 
	color:#777;
	border: 1px solid #ccc;
	border-radius: 1.5em;
	background-clip: padding-box;
	font-size:1.06em;
	height:2em;
	line-height:2em;
	padding:0.25em 1em 0;
  width:100%;  
	overflow: auto;
	-webkit-box-shadow:0 2px 5px #eee inset;
	box-shadow:0 2px 5px #eee inset; 
	border-collapse: separate;
	background: #fff;
	-webkit-transition-property: all;
	-webkit-transition-duration: 400ms;
	transition-property: all;
	transition-duration: 400ms;
	background-position: 99% 0.62em !important;
}
.form-textarea-wrapper textarea.form-textarea{ height:auto;padding:0.5em 1em 1em;line-height:1.5em;border-radius: .5em;background-clip: padding-box;}

input.form-control:hover,
.form-textarea-wrapper textarea.form-textarea:hover{ border: 1px solid #ccc; color:#777;}
input.form-control:focus,
.form-textarea-wrapper textarea.form-textarea:focus{ border: 1px solid #9097d3; -webkit-box-shadow: 0 0 4px #949bd8;box-shadow: 0 0 4px #949bd8; border-collapse: separate; /* fix for ie9 shadow */}

.form-wrapper legend{ color:#505050; margin-top:1.25em; margin-bottom:0 !important; font-family: "museo-sans-500", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}
.form-wrapper legend .fieldset-legend{ font-size:100%; margin-top:1em;}

fieldset.form-wrapper{ margin-bottom:1em;}






.bootstrap-select.form-control:not([class*="span"]){ width:100%;}
.field-widget-text-textfield.form-wrapper input.form-control{ width:80% !important;}

.main-content .selectpicker .caret::before{ color: #5b68ce;}

.view-filters .bootstrap-select.form-control:not([class*="span"]){ padding-right:0; width:100%;}
.views-exposed-form input.form-control{ width:12em;	}
html.js input.form-autocomplete{ background-position: 99% 0.56em !important;}









tr.region-title td{ color:#555; padding-top:0.5em; font-family: "museo-sans-500", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}

#edit-filters-order{ padding-bottom:15px;}

table.tabledrag-processed{ width:100%; text-transform:capitalize;}
table .draggable a.tabledrag-handle{ height: 1.5em;margin-top:.25em;}
table .draggable a.tabledrag-handle:hover{ border:none !important;}
table .draggable a.tabledrag-handle .handle{ 
	background:none;
	height:1em;
	width:1em;
	font-family: 'Glyphicons Halflings';
	color:#999;
	font-size:0.86em;
	line-height:1em;
	padding:0;
	margin:0 2em;
	display:inline-block;
	position:relative;
	top:0;
}
a.tabledrag-handle .handle:before{ content: "\e068";}
a.tabledrag-handle,
a.tabledrag-handle:hover{ border:none !important;}

a.admin-update, 
a.features-storage, 
span.features-storage, 
span.features-component-list span{ -webkit-border-radius:0; border-radius:0;}

div.file-widget.form-managed-file{ padding-left:1.25em;}

.exposed-filters .form-item label{ float:none;}

.form-item.form-type-select{ padding:0 0.25em 0 0;}
.form-item .description{ font-size:0.93em; margin-top:0.25em; margin-bottom:.75em; padding-left:1em;}
.form-item label{ margin:0 0 -0.75em 1.5em; font-size:90%; font-weight:bold; font-weight:700; text-transform:uppercase; font-family: "museo-sans-700", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}

th.checkbox,
td.checkbox{ display:table-cell;}
th.checkbox{ padding-right: 20px;padding-left:5px;text-align:left;line-height:1.12em;width:12%;}
td.checkbox .form-type-checkbox .icheckbox_minimal-red{ display:block;}
td.checkbox .form-type-checkbox > .icheckbox_minimal-red{ margin-top:5px;}

.admin-menu table tr td.permission .form-item{ line-height:normal;margin-top:0;}
.admin-menu table tr.odd.add-new:last-child{ border-bottom:20px solid transparent;}

.admin-menu tr .form-item{ line-height:normal;}

table.sticky-table,
table.sticky-header{ width:100%;}
table.sticky-header th{ padding-left:1em;}
table.sticky-table td ul{ 
	margin-bottom:0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}
table.sticky-table td ul li{ line-height:1em;}

#edit-delete:hover{ background: red;border: thin solid red;}

#module-filter-tabs a,
#module-filter-tabs a:hover{ border-bottom:none;}

.table-select-processed.tableheader-processed{ margin-top:1.5em;	}

textarea{ border: 1px solid #ccc;}
.admin-menu table.spaces td.option{ width:4%;}
.admin-menu .content table td{ padding:5px; text-align:left;}

.admin-menu .block.block-system{ float:left;}
.admin-menu #block-system-main.block.block-system{ /*margin-top:1.75em;*/ width:100%;}

.admin-menu .icheckbox_minimal-red, 
.admin-menu .iradio_minimal-red{ margin-right: 5px;position:relative;top:-2px;left:0;}

.admin-menu .table-select-processed th:first-child .icheckbox_minimal-red{ margin-left:6px;}

.admin-menu .sticky-table a{ white-space:nowrap; font-weight:bold;}


form table td.label{ padding-top:0.68em !important;}



.main-content .content-section .view-content{ max-width:100%;}


/*--- drupal edit tabs ---*/
.admin-menu .has-tabs .titlearea>div{ height:6.5em;}

article.main-content header ul.tabs.primary{ right:4em; position:absolute;} /* not loggen in */
.logged-in article.main-content header ul.tabs.primary{ right:2em; position:absolute;} /* login */
.logged-in article.main-content header ul.tabs.secondary{ left:2em; position:absolute;} /* login */

.main-content header ul.tabs.primary,
.main-content header ul.tabs.secondary{ display:inline; border:none; position:absolute; bottom:0.18em; z-index:2; float:left;margin:0;}
.main-content header ul.tabs.primary li,
.main-content header ul.tabs.secondary li{ height:1.75em; line-height:1.75em; position:relative;}
.main-content header ul.tabs.primary li a,
.main-content header ul.tabs.secondary li a{ color:#555; background:rgba(255,255,255, 0.4000); font-size:80%; font-weight:bold; font-weight:700; border:none; height:1.75em; line-height:1.75em; padding:0.62em 1.25em; margin-right:.12em; text-transform:uppercase; font-family: "museo-sans-700", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}
.main-content header ul.tabs.primary li a:hover,
.main-content header ul.tabs.secondary li a:hover{ background:rgba(255,255,255, 0.7000); color:#555;}
.main-content header ul.tabs.primary li a:active,
.main-content header ul.tabs.secondary li a:active{ background:rgba(255,255,255, 0.9000); color:#555;}
.main-content header ul.tabs.primary li.active a,
.main-content header ul.tabs.secondary li.active a{ color:#fff; background:#555; height:1.88em; position:relative; bottom:-1px; line-height:1.88em; padding:0.75em 1.25em 0.62em;}
.main-content header ul.tabs.primary li.active a:hover,
.main-content header ul.tabs.secondary li.active a:hover{ color:#fff; background:#555;}
.main-content header ul.tabs.primary li.active a:after,
.main-content header ul.tabs.secondary li.active a:after{ font-size:2em; font-family:'shanticon'; content: "\e646"; color:#555; position:absolute; bottom:-0.56em; right:50%; margin-right:-0.5em;}

.main-content header ul.tabs.secondary{ position:absolute; bottom:.25em;line-height:1.5em;height:1.75em;}
.main-content header ul.secondary li{ border-right:none; padding:0; line-height:1.5em; height:1.75em;}
.main-content header ul.tabs.secondary li a{ color:#444; background:rgba(255,255,255, .7000); font-weight:normal; line-height:1.12em; height:1.75em; float:left; padding:0.38em 1em; margin-right:1px;}
.main-content header ul.tabs.secondary li a:hover{ color:#444; background:rgba(255,255,255, .4000);}
.main-content header ul.tabs.secondary li.active a{ color:#666; background:#f7f7f7;  font-weight:normal; line-height:1.25em; height:1.75em; padding:0.38em 1.25em 0.38em 2em; position:relative; bottom:0;}
.main-content header ul.tabs.secondary li.active a:before{ font-size:1.12em; color:#666; font-family:'shanticon'; content: "\e643"; position:absolute; left:0.63em; top:0.32em; margin:0;}
.main-content header ul.tabs.secondary li.active a:after{ content:"";}
.main-content header ul.tabs.secondary li.active a:hover{ color:#666; background:#f7f7f7;}

ul.primary li a{ margin-right:.25em;}








html input[type="button"].form-submit{ 
	font-family: "museo-sans-500", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; 
	font-weight:normal; 
	font-weight:500;
	text-transform: uppercase;
	padding: .68em 1.5em;
	margin: 0.75em;	
	height:2.88em;
	line-height:1.88em;
	border-radius:0.18em;
	background: #fff;
	color:#555;
	font-size: 0.75em;
	width:auto;
	white-space:nowrap;
	text-align:center;
	letter-spacing:0.06em;
}
html input[type="button"].form-submit:hover{ color:#333;background: #f0f0f0;}
html input[type="button"].form-submit:active{ background-image:none;background: #fff;box-shadow:none;}

html input[type=file].form-file{ margin-bottom:5px;}









/*  .btn-success, .btn-info, .btn-warning, .btn-danger  */
.btn{ font-family: "museo-sans-500", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; font-weight:normal; font-weight:500;text-transform: uppercase;background-clip: padding-box;display:inline-block;white-space:nowrap;border-radius:0.25em;	color:#eee;padding: 0.75em 2em 0.62em;margin: 0.75em;	line-height:2em;font-size: 0.68em;	letter-spacing:0.06em;display:inline-block;}
a.btn,
a.btn:hover{ border-bottom:none !important;}

.btn-black,
.btn-red,
.btn-default,
.btn-primary{ border:none;background-image:none;background: transparent;}
.btn-black:hover, .btn-black:focus, .btn-black.focus,
.btn-red:hover, .btn-red:focus, .btn-red.focus,
.btn-default:hover, .btn-default:focus, .btn-default.focus,
.btn-primary:hover, .btn-primary:active, .btn-primary.active{ background-image:none;background: transparent;}

.btn.btn-primary{ background:#5b68ce;}
.btn.btn-primary:hover{ color:#fff;background: #4850bd;}
.btn.btn-primary:active, .btn.btn-primary.active{ background:#434bb1;}

.btn-clear{ background:transparent; color:#555;}

.btn.btn-icon{ padding:0;margin:0.75em;width:auto;line-height:2em;text-transform:uppercase;color:#eee;font-size: 0.88em;display:inline-block;white-space:nowrap;text-align:center;letter-spacing:0.06em;overflow:hidden;position:relative;}
.btn .icon{ text-align:center;width:3.12em; font-size:130%;line-height:2.75em;display:inline-block;padding: 0.12em;background: #4954bb;position:absolute;left:0;top:0;z-index:1;border-radius:0.25em 0 0 0.25em;}
.btn.btn-icon span{ padding:1em 2em 0.75em 7em;margin:0;line-height:2.88em;font-size:80%;background:transparent;display:block;}
.btn.btn-icon:hover{ background: #4c54c7;}
.btn.btn-icon:hover i.icon{ background: #373d91;}
.btn.btn-icon:active span,
.btn.btn-icon.active span{ background: rgba(255, 255, 255, .08);}

.btn.btn-primary.btn-icon{ color:#eee;}
.btn.btn-primary .icon{ background: #4954bb;}
.btn.btn-primary.btn-icon:hover{ background: #4c54c7;}
.btn.btn-primary.btn-icon:hover i.icon{ background: #373d91;}
.btn.btn-primary.btn-icon:active span,
.btn.btn-primary.btn-icon.active span{ background: rgba(255, 255, 255, .08);}

.btn.btn-default.btn-icon{ color:#777;}
.btn.btn-default .icon{ background: #fff;}
.btn.btn-default.btn-icon:hover{ background: #ddd;}
.btn.btn-default.btn-icon:hover i.icon{ background: #ddd;}
.btn.btn-default.btn-icon:active span,
.btn.btn-default.btn-icon.active span{ background: #ccc;}


.btn.btn-primary.btn-icon.btn-wrap span{ padding:1.38em 3em 1.25em 8em;margin:0;line-height:1.5em;font-size:70%;background:transparent;display:block;}

.btn.btn-xs{ font-size:60%;line-height:130%;padding-top:0.88em;font-weight:bold;font-weight:700;}	
.btn.btn-sm{ line-height:3em;padding:0.82em 3em;}	
.btn.btn-lg{ line-height:3em;padding:0.82em 3em;}	

.btn.btn-default{ background:#fff; color:#555;}
.btn.btn-default:hover,
.btn-group .btn.btn-default.btn-icon:hover{ background:#ddd;}
.btn.btn-default:active, .btn.btn-default.active,
.btn-group .btn.btn-default:active, .btn-group .btn.btn-default.active,
.btn-group .btn.btn-default.btn-icon:active, .btn.btn-default.btn-icon.active{ background:#ccc;}

.btn-group > .btn{ border-radius:0; margin:0;}
.btn-group > .btn-primary + .btn-primary{ border-left:1px solid #6c7bff;}

.btn-group-lg a.btn.btn-default,
.btn-group-lg a.btn.btn-default:hover{ border-bottom:1px solid #ddd !important;}

.btn-group-sm,
.btn-group-lg,
.btn-group-xlg{ margin:0;}
.btn-group-lg .btn{ line-height:3.25em;padding:1em 1.5em;border-radius:0;}
.btn-group-lg .btn.btn-primary{ width:100%;margin:0;padding-top:0.18em;padding-bottom:0.18em;}
.btn-group-lg .btn.btn-default.btn-icon{ font-size:0.62em; padding:0.56em; line-height:1.5em; background:white;}
.btn-group-lg .btn.btn-default.btn-icon i.icon{ font-size: 2.25em;line-height:2em;height:2em;padding:0;	}

.btn-group-sm > .btn{ line-height:3em;padding:0.82em 3em;}

.btn-group-xlg .btn.btn-primary i.icon{ padding:0; font-size:1.68em; position:static; float:left; line-height:2.75em; background:transparent;}
.btn-group-xlg > .btn.btn-primary{ padding: 0.75em 0.5em 0.62em;}

/*--- custom play transcript button set --*/
.btn-group-lg .btn-primary.btn-icon{ padding:0;width:100%;line-height:2em;	text-transform:uppercase;color:#eee;font-size: 0.88em;display:inline-block;white-space:nowrap;text-align:center;letter-spacing:0.06em;overflow:hidden;position:relative;}
.btn-group-lg .btn-primary.btn-icon i.shanticon{ text-align:center;width:3.12em; font-size:130%;line-height:2.5em;display:inline-block;padding: 0.06em;background: #4954bb;position:absolute;left:0;top:0;z-index:1;border-radius:0.25em 0 0 0.25em;}
.btn-group-lg .btn-primary.btn-icon span{ padding:1.25em 1.5em 1.25em 7em;margin:1px 0 0 0;line-height:1.62em;font-size:70%;background:transparent;display:block;letter-spacing:0.12em;width:100%;}
.btn-group-lg .btn-primary.btn-icon:hover{ background: #4c54c7;}
.btn-group-lg .btn-primary.btn-icon:hover i.shanticon{ background: #373d91;}
.btn-group-lg .btn-primary.btn-icon:active span,
.btn-group-lg .btn-primary.btn-icon.active span{ background: rgba(255, 255, 255, .07);}

.main-content .btn-default.btn-red{ opacity:.80; background:#dc3c47; color:#fff; -webkit-box-shadow:none;box-shadow:none;}
.main-content .btn-default.btn-red:hover{ opacity:.90;}
.main-content .btn-default.btn-red:active{ opacity:1;}

.main-content .btn-default.btn-black{ opacity:.80; background:#555; color:#fff; -webkit-box-shadow:none;box-shadow:none;}
.main-content .btn-default.btn-black:hover{ opacity:.90;}
.main-content .btn-default.btn-black:active{ opacity:1;}

.main-content .btn-default.btn-plain,
.main-content .btn-default.btn-plain:hover,
.main-content .btn-default.btn-plain:active{ background:transparent; border:none; -webkit-box-shadow:none;box-shadow:none;}

button.field-add-more-submit{ margin-left:1em;}






/** Sidebars **/
div.sidebar{ z-index:1;}	
#sidebar-second{ 
	background: #fff;
	max-width:24em;
	padding:0 0 0 .32em;
}
#sidebar-second ul{ 
	list-style: square inside none;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 10px;
	padding-left:10px;
}
#sidebar-second ul li a,
#sidebar-second ul li a:hover{ border-bottom-width:1px !important;}
#sidebar-second div.block{ padding: 1em 2em .32em 1em;}

#sidebar-second .bootstrap-select.btn-group .dropdown-menu li>a.opt{ padding-left:1.12em;}

#sidebar-second .bootstrap-select.form-control .selectpicker{ width:100% !important;}

/** END Sidebars **/






.navbar nav.navtop div.block h2{ display: none;}
.navbar .lang ul.dropdown-menu{ left: -2em;} /* language menu */
.highlight:last-child{ border-left-color: #d0d0d0;}

.block .content .nav a{}
.block .content .nav a:hover, 
.block .content .nav a:focus{ text-decoration: none;background: #fff;color: #444;}






/* tables in admin */
span.filter-option.pull-left{ width:3.25em;}

table.field-multiple-table .bootstrap-select.field_pbcore_title-delta-order .selectpicker{ 
	width:70px;
	margin-left:20px;
}

.bootstrap-select.btn-group .btn .filter-option{ font-size:1em;}





span.field-label-span {
	font-weight: bold;
}

div.expcoll-btns {
	text-align: right;
}







.form-actions{ /* testing this at bottom of page for edit save buttons --*/
	margin-top:3em;
	margin-left:0;
}
 
#locale-translation-filter-form .form-item-translation{ width:22em;}
#locale-translation-filter-form .form-actions{ margin-left:0; padding: 1.25em 0 0 1em; /* padding typo override */}


#field-available-from-values td,
#field-available-from-values td,
#field-pbcore-title-values td,
table.tableheader-processed td,
form .field-multiple-table td.field-multiple-drag{ 
	/*width:auto;*/
}
table.tableheader-processed td{ /*width:25%;*/} /*---- testing this ----*/


#edit-name.form-control{}

#edit-actions.form-actions{ margin-top:0.5em;}

input.role-weight.form-control{ font-size:80%; width:4em; height:1.5em;line-height:1.5em;}



.tabledrag-toggle-weight-wrapper{ display:inline; float:right; /* margin-top:-0.62em; */}
.tabledrag-toggle-weight-wrapper a{ color: #5a65d1;}


table.field-multiple-table{ margin-bottom:2em;}
table.field-multiple-table tbody{ border:2px solid #ddd;}

.kaltura_status_ok{ background-image:none !important; border:none !important;}

#kmap_annotation_json{ margin-left:2em;} /* textbox on bottom */


#edit-filter-settings-title{ margin-bottom:0 !important;}




/** Field Groups. See shanti_sarvaka_fieldset() function */


#video-node-form > div{ border-top:1px solid #ddd;}




.vertical-tab-button a,
.vertical-tab-button.selected a{ border-bottom:none !important;outline: 0 !important; font-weight:bold; font-weight:700; font-family: "museo-sans-700", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}
.vertical-tab-button a:hover,
.vertical-tab-button.selected a:hover{ border-bottom:none !important; text-decoration:none !important;	}
.vertical-tabs{ margin-top:0;}
.vertical-tabs-panes.vertical-tabs-processed{ border-top:1px solid #ddd; border-bottom:1px solid #fff;}
.vertical-tabs-panes{ margin-bottom:2em; font-size:1.06em}
.vertical-tabs a{ border-bottom:none !important;}
.vertical-tabs a:hover{ text-decoration:underline; border-bottom:none !important;}
.vertical-tabs .vertical-tab-button.selected a:hover,
.vertical-tabs .vertical-tab-button.selected a:-webkit-any-link:hover{ text-decoration:none;}

.vertical-tabs table.features div.feature div.description{ color:#666;}
/* html .main-content .vertical-tabs .vertical-tabs-list li.vertical-tab-button a:-webkit-any-link{ text-decoration:none !important;} */
.admin-menu table.features td.sign{ font-size:.75em;}

table.features-admin th{ padding-top:.75em;}




#block-system-help p,
.field-accordion .panel-body p{ font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;}
.field-accordion .form-item label{ margin-top:1em;}

.field-accordion{ margin: 0;padding: 0;}
.field-accordion.panel-group{ /*margin:0 -2em; padding:0 2em;*/ border-bottom:1px solid #ddd; border-top:1px solid #fff;}
.field-accordion .panel-group .panel{ background:transparent;}

.field-accordion .panel-body{ padding:15px;}
.field-accordion .panel-heading{ margin:0;padding:0;background:transparent;width:100%;}
.field-accordion .panel-body .form-text{ background: #fff;}

#field-workflow-add-more-wrapper fieldset legend{ /*--- rare section header between accordion panel groups */
	border-top:1px solid #fff; 
	border-bottom:1px solid #ddd;
	height:4em;
	line-height:4.25em;
	display:block;
	width:100%;
	text-transform:uppercase;
	padding-left:0.32em;
	padding-top:0.5em;
	font-weight:bold;
}
#field-workflow-add-more-wrapper fieldset legend span{ margin:0;padding:0;}

.field-accordion .panel-collapse{ margin:0 0 1em;}  /*--- spacing at bottom below inset shaded content */

.field-accordion .panel-heading h6.panel-title{ position:relative; z-index:100; width:100%; font-size:1.44em; text-transform:capitalize; font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; font-style:italic;}
.field-accordion .panel-heading h6.panel-title a{ font-weight:bold; display:block; width:100%; line-height:2.62em; height:2.5em; letter-spacing:-0.06em; border:none!important;}
.field-accordion .panel-heading h6.panel-title a:hover{ text-decoration:none; border:none!important;}

.field-widget-group-audience{ border:none; border-top:1px solid #fff; padding:0;}
.field-widget-options-select{ border-bottom:1px solid #ddd; padding:0 0 0.75em;;}

#edit-picture .fieldset-wrapper{ border-bottom:1px solid #ddd;}

.field-accordion .panel-heading h6.panel-title a i.glyphicon{ 
  font-size: 0.5em;    
  background: #fff;
  color: #606060;    
  width: 21px;
  height: 21px;
  display: block;
  border-radius: 50%;
  background-clip: padding-box;
  margin-right:20px;
  float: left;
  position: relative;
  top: 15px;
  left: 7px;
  -webkit-box-shadow: 0 0 4px 3px #ddd;
  box-shadow: 0 0 4px 3px #ddd;
  border-collapse:separate;
}
.field-accordion .panel-heading h6.panel-title a i.glyphicon:before{ position: relative;top: 5px;left: 6px;}
.field-accordion .panel-heading h6.panel-title a i.glyphicon.glyphicon-minus:before{ position: relative;left: 5px;}

.field-accordion fieldset .fieldset-legend{ margin-left:1em;}

.field-accordion .form-item, 
.field-accordion .form-actions{ margin-top: auto;margin-bottom: 0.5em;}

.field-accordion h4 span.ss-fieldset-toggle,
.field-accordion h6 span.ss-fieldset-toggle{ 
	font-size: 90%;
	padding: 0 4px 2px;
	border-radius: 1.25em;
	background-clip: padding-box;	 /* fix for radius-corner color bleedthrough */
	border: 1px solid grey;
	background: #fff;
	-webkit-box-shadow: 2px 0 3px #aaa;
	box-shadow: 2px 0 3px #aaa;
	border-collapse: separate; /* fix for ie9 shadow */
	display: inline-block;
	cursor: pointer;
	vertical-align: text-top;
	margin-right: .25em;
}
.field-accordion h4 span.ss-fieldset-toggle.open,
.field-accordion h6 span.ss-fieldset-toggle.open{ padding: 0 5px 1px;}




/*--- show-hide toggle button ---*/
a.show-annot, 
a.hide-annot{ 
	font-size:1em;
	text-transform:uppercase;
	font-family:sans-serif;
	font-weight:bold;
	margin-left:-0.5em;
}
a.show-annot:before, 
a.hide-annot:before{ 
	color:#5a65d1;	
	font-size: 0.62em;
	line-height:.75em;
	font-weight:normal;
	padding-right:0.62em;
	font-family: 'Glyphicons Halflings';
	content: '\002b'; /*-- plus icon */
	position:relative;
	top:-1px;
}






/*
div.fieldset-wrapper{ padding-top:10px;}

.form-item.form-type-checkbox.form-item-flexslider-debug{ padding-top:10px;}
*/











.views-exposed-form label{ 
  margin-bottom:0;
  font-size:0.82em;
  padding-left:.44em;
  font-family: "museo-sans-500", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-weight:500;
  text-transform: uppercase;
  margin-bottom: 0;
}
.views-exposed-form{ margin-bottom:0;border-bottom:1px solid #ccc;}
.views-exposed-form .views-exposed-widget{ 
	padding-top:0;
	padding-bottom: 0.12em;
}
.views-exposed-widget.views-widget-filter-status{ 
	width:6em;
	padding-top:0;
}
.views-exposed-widget.views-widget-sort-by{ 
	width:9.5em;
}
.views-exposed-widget.views-widget-sort-order{ 
	width:6em;
}
.views-exposed-widget.views-widget-per-page{ 
	width:10.5em;
}


.views-row{ 
	padding-top: 0.75em;
	padding-bottom: 1em;
	margin:0 auto;
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;	
	min-height:10em;
}
.views-row:after{ 
	clear:both;
}
.views-row:first-child{ 
	/* padding-top:0;
	margin-top:0.25em; 
	border-top:3px double #e0e0e0; */
}
.views-field-title{ 
	font-size:1.5em;
	margin-bottom:-0.5em;
	font-family: "museo-sans-500", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.views-field-realname{ 
	margin-bottom:0.25em;
	margin-top:1em;
	font-size:90%;
	color:#808080;
	font-style:italic;
}
.views-field-field-images img{ 
	float:left;
	margin:.44em .88em .18em 0;
	-webkit-box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.7);
	box-shadow:         0 0 3px 0 rgba(50, 50, 50, 0.7);
	border-collapse: separate; /* fix for ie9 shadow */
}

/*--- view collections page ---*/
.view-collections .views-row{ min-height:14em;}




/*---- cusotmize mediabase search panel ----*/
.input-section .search-group{ margin-top:-1em;}
.input-section .search-group .form-group{ padding-left:1.5em;}
.input-section .input-group .input-group-btn{ position:absolute; right:13px;}
.advanced-view{ padding-top:0.5em;}

.view-section .treeview h2{ font-size:1.5em;}
h2 button.toggle-facet-label-search{ 
	float:left;
	margin-left:0.62em;
	margin-right:.5em;
	margin-bottom:0.5em;
	position:relative;
	top:0.25em;
}







.shanti-filters table tbody{ border-top: none;}

.shanti-filters table td:nth-child(2){ 
	width:100%;
}



/*--- search advanced - this fixes first text strong from wrapping ---*/
.input-section label.radio-inline:first-child{ width:6.25em; min-width:6.25em;}





/** top admin bar **/
#admin-menu input.admin-menu-search.form-control.form-text{ font-size:0.88em !important; line-height:1.5em; height:1.75em; padding:0.75em 1em !important; position:relative; top:1px;}

#admin-menu .admin-menu-search input{ width:108px; border-radius:1em;}
#admin-menu .dropdown .admin-menu-toolbar-category > a{ text-shadow:none;color:#ccc;}
#admin-menu .dropdown .admin-menu-toolbar-category > a:hover{ color:#fff;}
#admin-menu .dropdown .admin-menu-toolbar-category > a.active-trail{ background:#f5f5f5; color:#000; text-shadow:none;}
#admin-menu .dropdown .admin-menu-toolbar-category.admin-menu-icon > a.active-trail{ background:#777;}

#admin-menu #edit-filters--2.filters.form-wrapper{ float:none;} /*--- admin page viewing / adding users ---*/
#admin-menu{ 	
	-webkit-box-shadow: 0 1px 2px hsla(0, 0%, 0.0000%, 0.3250);
	box-shadow: 0 1px 2px hsla(0, 0%, 0.0000%, 0.3250);
	border-collapse:separate;
	background:#333;
	background-image:none;
}
#admin-menu > div > .dropdown > li > a{ padding: 2px 7px 3px;}
/* Admin */
@media screen and (max-width: 1040px){ 
	#admin-menu .dropdown .admin-menu-account, 
	#admin-menu .dropdown .admin-menu-users, 
	#admin-menu .dropdown .admin-menu-search{ 
		display: none;
	}
}

#admin-footer input.form-control, 
#admin-footer .form-textarea-wrapper textarea.form-textarea{ 
	width: 95%; display:inline; height:2em;
	background-position:97% .56em !important;
}