
/**
* New Collections development work begun May-2016 
*/

.bootstrap-twocol-stacked,
.bootstrap-threecol-stacked {
  /*padding-top: 1.5rem;*/
}
/* featured image descriptive text */
.panel-panel > .pane-node-body .field-type-text-with-summary{
  min-height:130px;
}








/**
* BEGIN - Collections Sidebar admin buttons and associated link lists
*/
.collections-sidebar a.btn.btn-primary,
.panel-panel.right a.btn.btn-primary {
  padding-left:3rem;
  padding-right:3rem;
  margin-left:0;
}
.collections-sidebar,
.collections-sidebar a:not(.btn.btn-primary),
.collections-sidebar ul li,
.panel-panel.right,
.panel-panel.right a:not(.btn.btn-primary),
.panel-panel.right ul li {
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
}
.collections-sidebar .view-collections a:not(.btn.btn-primary), 
.panel-panel.right .pane-content a:not(.btn.btn-primary) {
  font-weight:bold;
  font-size:90%;
  filter: alpha(opacity=90);
  opacity:0.9;
  border:none;
}
.collections-sidebar .view-collections a:not(.btn.btn-primary):hover .icon,
.collections-sidebar .view-collections a:not(.btn.btn-primary):active .icon,
.panel-panel.right .pane-content a:not(.btn.btn-primary):hover .icon,
.panel-panel.right .pane-content a:not(.btn.btn-primary):active .icon {
  color: #454fa4;
}
/*
.panel-panel.right .view-collections .view-content > div {
  position: relative;
  left: 2.2rem;
}

.panel-panel.right .view-collections .view-content > div > span {
  margin-left: -2.2rem;
}
*/




.shanti-collection-body{
  margin-top: -1.5rem !important;
}

.shanti-collection-body .pane-title{
  margin-bottom: 1rem !important;
}

.shanti-collection-body .field-type-text-with-summary p{
  line-height: 1.56em;
}

/* image hack for IMG wrapper img-thumnail class */
.field-name-field-general-featured-image.field-type-image.img-thumbnail{ /* AV & TEXTS */
  box-shadow:none;
  display: inline-block;
  max-width: auto;
  height: auto;
  padding: 0;
  line-height: 1.42857143;
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin:0 !important;
}






/**
* BEGIN - NOT TESTED - newly brought in from av css w/comments intact - May 25, 2016
*/
/* single collection page */
/** Hiding Spaces table until it can be properly implemented */
.node-type-collection table.spaces {
  display: none;
}

.collection-content .field-label-inline .field-label-span { 
  float:left; 
}

.node-type-collection .pane-content .view-empty, 
.node-type-subcollection .pane-content .view-empty {
    clear: both;
}

/* temp needs to be h3 smaller */
.node-type-collection .panel-panel.right h2{
  font-size: 1.32em;
}
/**
* END Collections Sidebar
*/








/* TESTING - temporary style for Texts app here */
.texts.node-type-collection .view-all-texts-control-box-cell-header .view-result-count-info,
.texts.node-type-subcollection .view-all-texts-control-box-cell-header .view-result-count-info{
  margin-left:1.5rem;
}
.texts.node-type-collection .view-all-texts-control-box-cell-header.col-md-4,
.texts.node-type-subcollection .view-all-texts-control-box-cell-header.col-md-4{
  width:29%;
}
.texts.node-type-collection .view-all-texts-control-box-cell-filters.col-md-4,
.texts.node-type-subcollection .view-all-texts-control-box-cell-filters.col-md-4{
  width:37%;
}
.texts.node-type-collection .view-all-texts-control-box-cell-pager table.pagerer,
.texts.node-type-subcollection .view-all-texts-control-box-cell-pager table.pagerer{
  margin-right:0;
}

























.node-type-team .tab-pane.main-col > div{
  padding-top:0.5rem;
}





/* overview header .pane-title */
.node-type-collection .shanti-collection-body .pane-title{
  margin-top:15px;
  margin-bottom: 0.82rem !important;
}

.node-type-collection.tab-pane.main-col > div.region-content,
.page-collections-all .tab-pane.main-col > div.region-content{
  padding-left:15px;
  padding-right:15px;
}

.page-collections-list #block-system-main.block.block-system {
  width: 100%;
  float: none;
  margin: 0 auto;
  max-width: 90rem;
}

.page-collections .views-exposed-widget .form-submit{
  display:none;
}

/** Collections List page **/
.page-collections-all-list .view-display-id-collection_all_list td {
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 2px;
    padding-bottom: 2px;
}

.page-collections-all-list .view-display-id-collection_all_list td.views-field.views-field-created {
    white-space: nowrap;
}

.page-collections-all .shanti-filters .control-box-cell-header span, 
.page-collections-all-list .shanti-filters .control-box-cell-header span {
    margin: 0px;
}

.page-collections-all .other-view a, 
.page-all-collections-list .other-view a {
    padding-left: 8px;
}







/**
* ------------------
* Collections page
* ------------------
*/

/*
.view-collections .field-image-thumb {
  max-width: 50%;
  float: left;
  padding-right: 20px;
}

.view-collection-media table.pagerer{
  margin-top: -4rem;
}

    .node-type-team .view-collection-media table.pagerer{
      margin-top: -4rem;
    }

    .view-collections .views-row {
      padding-top: 0.75em;
      padding-bottom: 2em;
      margin: 0 auto;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #ccc;
    }

    .view-collections .views-row::after {
      clear: both;
    }

    .view-collections .views-field-title {
      font-size: 1.5em;
      margin-bottom: -0.5em;
      font-family: 'museo-sans-500',helvetica, arial, sans-serif;
    }

    .view-collections .views-field-realname {
      margin-bottom: 0.25em;
      margin-top: 1em;
      font-size: 90%;
      color: #808080;
      font-style: italic;
    }

    .view-collections .views-field-field-images  {
      float: left;
      margin: .44em .88em .18em 0;
      box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.7);
      border-collapse: separate;
    }
*/



