/**
 *   These are hacks created by Than to achieve certain stylistic results. Need to be checked by Mark and Gerard
 */


.form-item .description{ margin-top:0.25em;padding-left:1em;}

.radio, 
.checkbox{ display:static; padding-left:10px; padding-right:10px; margin-top:0; margin-bottom:0;}
th{ border-bottom:none;}
/* common elements */

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{ font-weight:normal; font-weight:500; font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}

div.collimage{ padding-right:1em;}

.content-section p{ font-size:110%;}


.main-content div:nth-child(2) a{ border-bottom:3px solid transparent;	-webkit-transition: all 0.2s ease 0s;transition: all 0.2s ease 0s;}
.main-content div:nth-child(2) a:hover{ color:#555; border-bottom:3px solid rgba(90, 101, 209, .2000); }
.main-content div:nth-child(2) a:active{ border:none; }


.show-more{ text-transform: uppercase; font-size:.83em; display:inline;}
.show-more:after{ 	
	font-size: 0.75em;
	line-height: 0.75em;
	font-weight:normal;
	padding-left:0.25em;
	font-family: 'Glyphicons Halflings';
	content: '\002b'; /*-- plus icon */
	position:relative;
	top:-1px;
	color: #5a65d1;
}
.show-more a{ font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;	font-weight:bold; font-weight:700;}

.loader { height: 80%; min-height: 31em; padding-top: 1em;}
.dfn, .italic{ font-style:italic !important; }
.sans-serif{ font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}
.serif{ font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; }


/* form table td.label styles addres the "Group Space" fields on ...node/add/collection*/
form table td.label { 
   display: inline-block;
	color: #333; /* override bootstrap default label color of white */
	font-size: 100%;
	padding: 12px 0px;
}

form table td.label strong:after {
	content: ':';
	padding-right: 6px;
}

form table td.label div.description {
	display: inline;
	font-weight: normal;
}

.form-control.form-text {
	display: inline-block;
}

.form-textarea-wrapper textarea {
	/*width: auto;*/
	border-radius: 0.38em;
	background-clip: padding-box;	 /* fix for radius-corner color bleedthrough */
}

.form-control.ss-select {
	width: auto;
	margin-bottom: 0.5em;
	height:1.5em;
}

.form-control.ss-select[multiple] {
	border-radius: 3px;
	background-clip: padding-box;	 /* fix for radius-corner color bleedthrough */
}






/*--- admin styles ---*/

.admin-menu div.iradio_minimal-red,
.admin-menu div.icheckbox_minimal-red{ 
	margin-right:0.44em;
	position:relative;
	top:-0.25em;
}

.has-tabs .titlearea>div { height:6.5em;}

.main-content .content-section .view-content{max-width:58em;}


/*--- drupal edit tabs ---*/
.main-content header ul.tabs.primary,
.main-content header ul.tabs.secondary { display:inline; border:none; position:absolute; bottom:0.18em; z-index:2; float:left;margin:0;}
.main-content header ul.tabs.primary li,
.main-content header ul.tabs.secondary li{ height:1.75em; line-height:1.75em; position:relative;}
.main-content header ul.tabs.primary li a,
.main-content header ul.tabs.secondary li a { color:#555; background:#eee; font-size:80%; font-weight:bold; font-weight:700; border:none; height:1.75em; line-height:1.75em; padding:0.62em 1.25em; margin-right:.12em; text-transform:uppercase; font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}
.main-content header ul.tabs.primary li a:hover,
.main-content header ul.tabs.secondary li a:hover{ background:#fff;color:#555; }
.main-content header ul.tabs.primary li.active a,
.main-content header ul.tabs.secondary li.active a { color:#fff; background:#555; height:1.88em; position:relative; bottom:-1px; line-height:1.88em; padding:0.75em 1.25em 0.62em;}
.main-content header ul.tabs.primary li.active a:hover,
.main-content header ul.tabs.secondary li.active a:hover { color:#fff; background:#555;}
.main-content header ul.tabs.primary li.active a:after,
.main-content header ul.tabs.secondary li.active a:after{ font-size:2em; font-family:'shanticon'; content: "\e646"; color:#555; position:absolute; bottom:-0.56em; right:50%; margin-right:-0.5em;}

article.main-content header ul.tabs.primary{ right:4em; position:absolute;}
.logged-in article.main-content header ul.tabs.primary { right:1em; position:absolute;}

.logged-in article.main-content header ul.tabs.secondary { left:0;}

.main-content header ul.tabs.secondary{ position:absolute; bottom:.25em;line-height:1.5em;height:1.75em;}
.main-content header ul.secondary li{ border-right:none; padding:0; line-height:1.5em; height:1.75em;}
.main-content header ul.tabs.secondary li a{ color:#444; background:rgba(255,255,255, .7000); font-weight:normal; line-height:1.12em; height:1.75em; float:left; padding:0.38em 1em; margin-right:1px;}
.main-content header ul.tabs.secondary li a:hover{ color:#444; background:rgba(255,255,255, .4000);}
.main-content header ul.tabs.secondary li.active a{ color:#666; background:#f7f7f7;  font-weight:normal; line-height:1.25em; height:1.75em; padding:0.38em 1.25em 0.38em 2em; position:relative; bottom:0;}
.main-content header ul.tabs.secondary li.active a:before{ font-size:1.12em; color:#666; font-family:'shanticon'; content: "\e643"; position:absolute; left:0.63em; top:0.32em; margin:0;}
.main-content header ul.tabs.secondary li.active a:after{ content:"";}
.main-content header ul.tabs.secondary li.active a:hover{ color:#666; background:#f7f7f7;}

ul.primary li a{ margin-right:.25em;}


/*  .btn-success, .btn-info, .btn-warning, .btn-danger  */

.btn{ 
	font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; 
	font-weight:normal; 
	font-weight:500;
	text-transform: uppercase;
}

.btn-primary {
  border:none;
	background-image:none;
  background-color: transparent;
}
.btn-primary:hover,
.btn-primary:focus {
	background-image:none;
  background-color: transparent;
}
.btn-primary:active,
.btn-primary.active {
	background-image:none;
  background-color: rgba(255, 255, 255, .1);
  box-shadow:none;
}
.btn-primary{
	padding: 0;
	margin: 0.75em;	
	border-radius:0.18em;
	background-color: #5b68ce;
	height:4em;
	line-height:2.32em;
	text-transform:uppercase;
	color:#eee;
	font-size: 0.75em;
}
.btn-primary:hover {
	color:#fff;
	background-color: #4850bd; /* darker */
}
.btn-primary:active,
.btn-primary.active {
	color:#fff;
	background-color: #5b68ce;
}

.btn-primary .icon {	
	text-align:center;
	height:4em;
	width:3.5em; 
	font-size:130%;
	line-height:2.25em;
	display:inline-block;
	padding:0.5em;
	float:left;
}
.btn-primary span {
	font-size: 0.88em;
	background-color: rgba(255, 255, 255, .1);
	padding: 0;
	display:inline-block;
	width:auto;
	padding: 1em 1.5em;
	height:5em;
	line-height:3em;
	white-space:nowrap;
	overflow:hidden;
	text-align:center;
	margin:0 auto;
	vertical-align:middle;
}







#edit-delete:hover {
	background-color: red;
	border: thin solid red;
}

.form-text {
	height: 1.83em;
	line-height:1.44em;
	background-color: #ffffff;
	padding: .38em .75em;
}

textarea {
	border: 1px solid #ccc;
}








.navbar nav.navtop div.block h2 { display: none;}
.navbar .lang ul.dropdown-menu { left: -2em;} /* language menu */
.highlight:last-child { border-left-color: #d0d0d0;}

.block .content .nav a{ }
.block .content .nav a:hover, 
.block .content .nav a:focus {
	text-decoration: none;
	background: #fff;
	color: #444;
}



div.banner-content button.btn-default {
	background: rgba(120,120,120,0.3);
	color: white;
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 0.15em;
	font-weight: normal;
	text-shadow: none;
	border: none;
	padding: 0.63em 1.25em;
}



.breadwrap ol{ border:none;}






/** Sidebars **/
div.sidebar {

	z-index:1; /* covers the carousel slide button */
}	
#sidebar-second {
	background-color: #fff;
	/* max-width: 19em; */
	max-width:24em;
	padding:0 0 0 .32em;
}
.region-sidebar-second div.block {/*border-bottom: thin #777 solid;*/ padding: 1em 2em .32em 1.25em;}
/*
div.region-sidebar-second div.block:after {
	content: '';
	width: 83%;
	margin-left: 9%;
	height: 1px;
	background-color: #aaa;
	display: block;
	margin-top: 1.25em;
}
*/
#sidebar-second button.form-submit { }

#sidebar-second .btn.btn-primary{ display:block; width:100%; margin-left:0;}
#sidebar-second .btn.btn-primary span{ width:80%;}

#sidebar-second .bootstrap-select.form-control:not([class*="span"]) { width:100%;}


/** Search Flyout **/
.treeview .block-facetapi {
	overflow: hidden !important;
}

.treeview .block-facetapi h2 {
	font-size: 1.1em;
	padding: 0 6px;
	white-space: nowrap;
}

.treeview .facetapi-limit-link {display: none;}

ul.fancytree-container {
	font-family: tahoma, arial, helvetica;
	font-size: 10pt;
	white-space: nowrap;
	padding: 3px;
	margin: 0;
	background-color: white;
	border: 1px dotted gray;
	overflow: hidden;
	height: 100%;
}

ul.fancytree-container .glyphicon {
	color: #888;
	font-family: 'Glyphicons Halflings';
	font-size: 13px;
	margin-right: 12px;
	position: relative;
	top: 3px;
}

span.facet-count:before { content: '(';  }
span.facet-count:after { content: ')';  }

button.toggle-facet-label-search {
	text-decoration: none;
	border: none;
	background: transparent;
	padding: 0;
}

input.facet-label-search {
	display: inline;
	height: 1.5em;
	font-size: smaller;
	padding: 3px;
	margin: 0 4px;
}

span.fancytree-node i.shanticon-cancel {
	color: red;
	font-size: smaller;
	padding-top: 4px;
	display: inline-block;
	cursor: pointer;
}













/* Admin */
@media (max-width: 1040px) {
	/* necessary styles to make admin menu work at smaller screen sizes */
	#admin-menu .dropdown .admin-menu-account, #admin-menu .dropdown .admin-menu-users, #admin-menu .dropdown .admin-menu-search {
		display: none;
	}
}


#admin-menu{ 	
	-webkit-box-shadow: 0 1px 2px hsla(0, 0%, 0.0000%, 0.42);
	box-shadow: 0 1px 2px hsla(0, 0%, 0.0000%, 0.42);
	border-collapse:separate;
	background:#444;
	background-image:none;
}




.panel-group .panel{ background:transparent;}


/** Field Groups. See shanti_sarvaka_fieldset() function */
.field-accordion {
	margin: 0 0 6px;
  padding: 0;
	/* border-bottom: 1px solid #C0C0C0; */
	background-color: #eee;
}

.field-accordion div.panel-body .form-text {
	background-color: #fff;
}

.field-accordion div.panel-heading {
	background:transparent;
}



.field-accordion div.panel-heading .panel-title a:before{
	color:#5a65d1;	
	font-size: 0.62em;
	line-height:.75em;
	font-weight:normal;
	padding-right:0.62em;
	/* font-family: 'Glyphicons Halflings';
	content: '\002b'; */
	position:relative;
	top:-1px;	
}


.form-actions{ /* testing this at bottom of page for edit save buttons --*/
	margin-top:3em;
}


/*--- show-hide toggle button ---*/
a.show-annot, 
a.hide-annot{
	font-size:1em;
	text-transform:uppercase;
	font-family:sans-serif;
	font-weight:bold;
	margin-left:-0.5em;
}
a.show-annot:before, 
a.hide-annot:before{
	color:#5a65d1;	
	font-size: 0.62em;
	line-height:.75em;
	font-weight:normal;
	padding-right:0.62em;
	font-family: 'Glyphicons Halflings';
	content: '\002b'; /*-- plus icon */
	position:relative;
	top:-1px;
}

.field-accordion .form-item, 
.field-accordion .form-actions {
	margin-top: auto;
	margin-bottom: auto;
}

.field-accordion h4 span.ss-fieldset-toggle {
	font-size: 90%;
	padding: 0 4px 2px;
	border-radius: 1.25em;
	background-clip: padding-box;	 /* fix for radius-corner color bleedthrough */
	border: 1px solid grey;
	background-color: #fff;
	-webkit-box-shadow: 2px 0 3px #aaa;
	box-shadow: 2px 0 3px #aaa;
	border-collapse: separate; /* fix for ie9 shadow */
	display: inline-block;
	cursor: pointer;
	vertical-align: text-top;
	margin-right: .25em;
}

.field-accordion h4 span.ss-fieldset-toggle.open {
	padding: 0 5px 1px;
}











/** Tabs **/
ul.ss-full-tabs {
	margin: 1.12em .32em;
}

ul.ss-full-tabs li {
	width: 50%;
	background-color: white;
}

ul.ss-full-tabs li a {
	font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	border: none;
	text-align: center;
	font-size: larger;
	font-weight: 777;
	color: #999;
	border-radius: 0;
}

ul.ss-full-tabs li.active a:after, ul.ss-full-tabs li.active a:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

/*
ul.ss-full-tabs li.active a:after {
	border-color: rgba(50,204,202,0);
	border-top-color: #32ccca;
	border-width: 15px;
	margin-left: -15px;
}
*/
ul.ss-full-tabs>li>a:hover, ul.ss-full-tabs>li.active>a:hover {
	border: none;
}

ul.ss-full-tabs li.active a {
	border: none;
	color: white;
}
/** End of Tabs section **/
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

.carousel{ margin-bottom:1.25em; padding: 1.56em 2.5em; background-color: #fff; -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.175); box-shadow: 0 3px 9px rgba(0, 0, 0, 0.175); border-collapse: separate; }
.carousel .carousel-inner { padding-top: 0;}
.carousel div { /* word-break: break-all; */}
.carousel img { max-width:100%; float:right;}
.carousel a.carousel-control { /*--- right-left button ---*/
	top: 50%;
	margin-top:-0.68em;
	width:1.75em;
	font-size: 2.63em;
	height:1.44em;
	line-height:1.75em;
	color: #fff;
	background-image: none;
	text-shadow:none;
	text-align:center;
	border-radius:0;
}
.carousel a.carousel-control:hover,
.carousel a.carousel-control:focus{
	/*opacity:2;
	filter: alpha(opacity=20);*/
}

.carousel a.carousel-control.left {margin-left: -1.18em;}
.carousel a.carousel-control.right {margin-right: -1.18em;}
.carousel a.carousel-control i {font-family:"shanticon"; font-style:normal;}
.carousel a.carousel-control.left i:before {content:'\e641'; /*-- left arrow-tri icon */ position:relative; right:-0.32em;}
.carousel a.carousel-control.right i:before {content:'\e642'; /*-- right arrow-tri icon */ position:relative; left:-0.32em;}

.carouseldiv .header {margin-top: 0.5em;}
.carouseldiv .header p{ margin-bottom: 0.18em;}
.carouseldiv .header p .show-more{ font-size:80%; float:right; margin-right:2.5em; position:relative; top:0.5em;}
.carouseldiv .header .title {
	font-style:italic;
	font-weight:bold;
	font-size:120%;
}
.carousel .caption .title h3 {font-weight:normal;font-weight: 500;margin: 0 0 0.63em;font-size:1.63em;}
.carousel .caption .title h3 a {color: #404040;}
.carousel .caption .byline {color: #777;font-style: italic;margin: -0.5em 0 .63em 0;}
.carousel .caption .description p {}
.carousel .caption a.show-more:hover{ color:#f00 !important;}
/** End of Carousel Styles **/




















/*
.input-section label.radio-inline:first-child { width: auto; }
.search-group .radio-inline > div { margin-right:0.25em; }
*/

#edit-masquerade-user-field { width: 80%;display: inline;}

html.js input.form-autocomplete { background-position: 100% .5em;}










.views-exposed-form label{ margin-bottom:0;font-size:90%;padding-left:.44em; font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; font-weight:500;}
.views-exposed-form{ margin-bottom:0;border-bottom:1px solid #ccc;}
.views-exposed-form .views-exposed-widget{
	padding-top:0;
	padding-bottom: 0.12em;
}
.views-exposed-form .views-exposed-widget.views-widget-per-page{
	width:8em;
}
.views-row{
	padding-top: 0.75em;
	padding-bottom: 1em;
	margin:0 auto;
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
	min-height:10em;
}
.views-row:after{
	clear:both;
}
.views-row:first-child{
	/* padding-top:0;
	margin-top:0.25em; 
	border-top:3px double #e0e0e0; */
}
.views-field-title{ 
	font-size:1.44em;
}
.views-field-realname{
	margin-bottom:0.25em;
	margin-top:0em;
	font-size:90%;
	color:#808080;
	font-style:italic;
}
.views-field-title{
	font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
.views-field-field-images img{ 
	float:left;
	margin:.44em .88em .18em 0;
	-webkit-box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.7);
	box-shadow:         0 0 3px 0 rgba(50, 50, 50, 0.7);
	border-collapse: separate; /* fix for ie9 shadow */
}
.views-submit-button .btn-primary{
	font-size:100%;
	position:relative;
	top:-0.44em;
	height:2em;
	padding:0;
}
.views-submit-button .btn-primary span{
	padding:.75em 1.32em;
	margin:0;
	line-height:0.93em;
	height:2em;
	display:inline-block;
	background:transparent;
}

.views-exposed-form input.form-control{
	width:12em;	
}



/*-----------------------------------------------*/
/*---- select dropdown -----*/
.main-content .bootstrap-select{ width:100%; padding:0; margin-top:0;margin-bottom:0;}
.main-content .bootstrap-select .selectpicker{ line-height:1.75em; height:1.83em; padding:0; border:1px solid #ddd; width:100% !important;}

.main-content .bootstrap-select.form-control{ 
	height:1.83em;	
	border-radius:1.56em;  	
	border-color: transparent;
	background-clip: padding-box;	 /* fix ie9 radius-corners */
}
.main-content .bootstrap-select .popover-title{ padding: .25em .88em; margin-bottom:.38em;}

/* .main-content .bootstrap-select .btn.btn-default{ background:transparent;} */
.main-content .bootstrap-select .btn{ 
	padding-left: 1.25em;
	color:#606060; 
	background: transparent;
	background-image:none;
	background-image: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%); 
  background-image: -moz-linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%);  
  background-image: -ms-linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%);  
  background-image: -o-linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%);  
  background-image: linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%);
  
	/* 
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	*/
	background-repeat: repeat-x;
	border: 1px solid #ddd;
	border-radius:1.56em;  	
	background-clip: padding-box;	 /* fix ie9 radius-corners */
	border-color: #eeee #eee #ddd;
	overflow:hidden;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.main-content .bootstrap-select .btn:hover{ 
	border: 1px solid #ccc; 
	background: #eee; 
}
	
.main-content .bootstrap-select .btn:focus,
.main-content .bootstrap-select .btn.active{ outline:none !important; border: 1px solid #9097d3; -webkit-box-shadow: 0 0 0.25em 0 #5764de; box-shadow: 0 0 0.25em 0 #5764de; border-collapse: separate; /* fix for ie9 shadow */
	background: #f5f5f5;
	background-image:none;
}

/*--- dropdown ---*/
.main-content .dropdown-menu.open{ border-radius:0.63em;background-clip: padding-box;	 /* fix for radius-corner color bleedthrough */}
.main-content .selectpicker .dropdown-menu>li>a span.text{ margin-right:0; padding-left:1.12em; overflow:hidden;}

.main-content .bootstrap-select.btn-group{ margin-top:0;margin-bottom:0;-webkit-box-shadow:none;box-shadow:none;}
.bootstrap-select.btn-group:not(.input-group-btn){ margin-bottom:0;}

.main-content .bootstrap-select.btn-group .dropdown-menu{ height:auto; overflow:auto;}
.main-content .bootstrap-select.btn-group .dropdown-menu.open{ height:auto;}

.main-content .selectpicker .caret{ border:none; font-family: 'shanticon'; content: "\e609";}
.main-content .selectpicker .caret:before{ color:#555; font-size:1em; font-family: 'shanticon'; content: "\e609"; position:absolute; top:-0.75em; right:0;}

.main-content .selectpicker li{ padding:0; overflow:hidden;}
.main-content .selectpicker li a{ color:#555; padding:0 1em; overflow:hidden; display:block; line-height:1.68em; height:1.56em;}

.main-content .selectpicker>li>a>span.text{ padding-left: 0.25em !important;}

.main-content .selectpicker li a,
.main-content .selectpicker li a span.text,
.main-content .selectpicker li.selected a{ background: #fff !important;}

.main-content .selectpicker li.selected a,
.main-content .selectpicker li.selected a span.text{ font-weight:bold;}
.main-content .selectpicker li.selected a i.icon{ font-weight:bold; color:#dc3c47;}

.main-content .selectpicker li:hover,
.main-content .selectpicker li a:hover,
.main-content .selectpicker li a:active,
.main-content .selectpicker li:hover span.text,
.main-content .selectpicker li:active span.text,
.main-content .selectpicker li a span.text:hover,
.main-content .selectpicker li.selected a:hover,
.main-content .selectpicker li.selected a:active{ color:#444; background: #eee !important;}

.main-content .selectpicker li a span.text:hover,
.main-content .selectpicker li.selected a span.text:hover{ color:#444; background: #eee !important;}

.main-content .selectpicker>li>a i.check-mark,
.main-content .selectpicker>li>a:hover i.check-mark,
.main-content .selectpicker>li>a:focus i.check-mark { color:#ccc;}
	
.main-content .selectpicker>li.selected>a i.check-mark,
.main-content .selectpicker>li.selected>a:hover i.check-mark,
.main-content .selectpicker>li.selected>a:focus i.check-mark{ color:#dc3c47;}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a i.check-mark{ position:absolute; right:0.93em; margin-top:2px; }

.main-content .selectpicker li a span.text,
.main-content .selectpicker li a span.text:hover{ background:transparent; color:#444;}

.bootstrap-select.btn-group .btn .filter-option{ font-size:.88em;}
.bootstrap-select.btn-group .btn .filter-option i{ font-weight:normal; font-size:1.18em; margin-right:0; color:#dc3c47; position:relative; top:2px;}
.bootstrap-select.btn-group .btn .filter-option em{color:#dc3c47; font-weight:normal; font-style:normal; font-size:1.06em; display:inline-block; }

.bootstrap-select.btn-group.show-tick i:first-child{ position:relative; top:2px;}

/*--- END selectpicker ---*/


